[2014-11-20 10:24] MohammadAlTurany opened #14 "Proper values for the cuts in G3/G4 config"
We need to take the values from AliRoot

[2014-11-25 09:28] #14 closed, assigned to nobody

[2015-01-14 13:04] matthiasrichter opened #30 "Build system problems"
Observed 2 issues:
1) On linux, the linking of executables in make install fails with a message like

    cd /home/richterm/src/AliceO2/matthias.github/build_2015-01-12/devices/aliceHLTwrapper && /usr/bin/cmake -E cmake_link_script CMakeFiles/aliceHLTWrapper.dir/relink.txt --verbose=1
    /usr/bin/c++    -std=c++11 -g -Wshadow     CMakeFiles/aliceHLTWrapper.dir/aliceHLTWrapper.cxx.o  -o CMakeFiles

[2015-11-16 14:08] ktf opened #90 "Comparison for unsigned >= 0 in devices/aliceHLTwrapper/Component.cxx"
@matthiasrichter looks like you have a tautological comparison at line 267 of devices/aliceHLTwrapper/Component.cxx:

[code]

where `outputBlockCnt` is unsigned. Shall we just drop the check?

[2015-11-25 09:28] matthiasrichter commented on #90
sorry for the slow response, I will fix it now and make a pull request

[2015-11-25 10:19] matthiasrichter commented on #30
@MohammadAlTurany I don't know how relevant this still is. The first point is probably handled by every module individually. The second point is still valid, we probably should remove AlFa_DIR, I started in my code.

[2015-12-03 13:08] ktf commented on #90
Thanks. For the record, if you say "Fix #90" it actually closes the issue as well and adds a link.

[2016-02-25 12:45] #90 closed

[2016-03-07 14:38] ktf opened #98 "ROOTSYS needs to be defined when compiling O2."
Building O2 seems to require ROOTSYS to be defined. This is obviously an antipattern as it makes rebuilds dependent on your environment. IMHO this should be changed to have it as a proper cmake command line option so that one can safely do "make" without risk of picking up a different version simply because CMake decides to redo some intermediate step.

[2016-06-08 15:03] matthiasrichter opened #119 "cmake check for FairMQ"
This is a feature request (or note what should be added at some point)

FairRoot conditionally builds FairMQ depending on the dependencies, but O2 relies on FairMQ. Should be added as a requirement. Maybe FairRoot come already with a cmake configuartion for FairMQ?

[2016-06-23 15:20] haavardh opened #121 "O2 does not compile with aliBuild"
I tried to compile O2 with aliBuild on SLC6 using

[code]

but there seems to be a problem related to libAliHLTTPC.so. AliRoot compiles correctly in the same setup.

The last messages are quoted below:

I have tried to update software (using git pull), but this does not help.

The log file /nfs/usb/data/alice/sw/BUILD/O2-latest-ali-master/log is attached (rename log.txt to satisfy gitHub..)
[log.t

[2016-06-29 20:57] wiechula opened #123 "Jenkins build fails"
The jenkins build in the pull reqest 122 fails.

Console output can be found here:
https://alijenkins.cern.ch/job/aliceo2-pipeline/job/PR-122/1/console

Cheers,
Jens

[2016-07-12 09:21] bovulpes opened #125 "Number of arguments mismatch"
Hello,

When compiling AliceO2 with FairRoot there is a mismatch found in the call of the function:

FairMQTransportFactory::CreateMessage(void* data, const size_t size, fairmq_free_fn* ffn, void* hint = NULL)

from the source file:

devices/flp2epn-distributed/FLPSender.cxx

where only the first two arguments are specified. In my local fix I have added the NULL default
argument for the third one

[2016-07-12 09:29] rbx commented on #125
Hi,

this is fixed in the dev branch. You are probably using the master branch, which is meanwhile 6 months old.
Adding NULL as the third argument would create a memory leak when running that device, so if you want to run that device, take a look at proper way in Examples/flp2epn-distributed/FLPSender.cxx in the dev branch. But since a lot has changed in that file in 6 months, I'd recommend switch

[2016-07-12 15:22] bovulpes commented on #125
Ok, thanks, I must have missed the "-b dev" in the readme.

Bogdan.

[2016-07-12 15:27] #125 closed

[2016-07-21 08:36] urasantonio opened #131 "O2 not compiling in Mac OS X"
Dear experts,

I'm trying to install ALICE O2 on Mac OS X 10.10 following what you suggest in the README.md (with some minor adaptations). After installing FairRoot and the external packages, the compilation of O2 fails with the error:

[ 14%] Linking CXX shared library ../../lib/libFLP2EPNex.so
ld: file not found: @rpath/libdds_intercom_lib.dylib for architecture x86_64
clang: error: linker comma

[2016-07-21 09:34] rbx commented on #131
Hello,

was FairRoot compiled with DDS enabled?
If it was, then DDS is included as a dependency of FairRoot (FairMQ to be specific).
Was DDS found in your AliceO2 CMake run? If not, try providing a path to it like this:
`cmake -DDDS_PATH="/home/username/DDS/0.11.27.g79f48d4/" ..` (with a proper path)

It could also be that we are missing a check for the dependency in the example's CMakeLists.txt.

[2016-07-22 11:33] rbx commented on #131
I've tried to reproduce this on my machines.

When FairRoot is built without DDS, any configuration of AliceO2 on OSX/Linux compiles and runs.

When FairRoot is built with DDS, DDS is included as dependency of FairMQ. In this case on both Linux/OSX everything compiles. On Linux everything (executables using FairMQ) also runs properly. But on the OSX machine, the executables that depend on FairMQ f

[2016-07-28 01:16] urasantonio commented on #131
Hello Alexey,

the AliceO2 CMake actually finds DDS:

-- Looking for DDS ... found
/Users/auras/alialfa/ExternalPackages/DDS/lib/libdds_intercom_lib.dylib;/Users/auras/alialfa/ExternalPackages/DDS/lib/libdds_protocol_lib.dylib;/Users/auras/alialfa/ExternalPackages/DDS/lib/libdds-user-defaults.dylib

After editing the Examples/flp2epn/CMakeLists.txt file, I still have
this error when making AliceO2

[2016-07-28 01:32] urasantonio commented on #131
I'll try to build FairRoot without DDS: how shall I modify the cmake command in order to do it?

Thanks,
Antonio

[2016-07-29 08:47] rbx commented on #131
Hello Antonio,

the libCCDB is hitting the same problem.
Please try the following:
After you run AliceO2 CMake, add the DDS lib location to you DYLD path like this:
[code]
(replace username and DDS version according to what you have).

[2016-08-03 23:02] urasantonio commented on #131
Thanks Alexey,

as suggested, after the Alice O2 CMake I added
/Users/auras/alialfa/ExternalPackages/DDS/lib (the directory containing
the libdds_intercom_lib.dylib library) to DYLD_LIBRARY_PATH, but when
performing the make of Alice O2 I still have:

[ 27%] Linking CXX shared library ../lib/libCCDB.so
ld: file not found: @rpath/libdds_intercom_lib.dylib for architecture x86_64
clang: error: linke

[2016-08-04 11:12] rbx commented on #131
Without being able to reproduce this it is hard to say what goes wrong, although it does sound like a linker configuration problem...
Could you mention which compiler you are using (output of `clang --version`)?

For now, to get your compilation done, you can do either of these three things:
 - Apply the same CMake fix that helpep you get flp2epn example compiling to the other parts that use FairM

[2016-08-04 14:26] urasantonio commented on #131
Thanks Alexey. The output of clang --version is:

Apple LLVM version 7.0.2 (clang-700.1.81)
Target: x86_64-apple-darwin14.5.0
Thread model: posix

Concerning the three options you suggest... unfortunately, none of them
seems to work with me:

1) The first option couldn't be applied since in the CMakeLists.txt
files I don't find any block starting with "if(DDS_FOUND)". Is it normal?

2) The second

[2016-08-04 16:15] urasantonio commented on #131
Sorry, I forgot that I had to create the if(DDS_FOUND) block :)  Now the
AliceO2 compiling goes fine, thanks a lot!!

Cheers,
Antonio

On 04/08/16 16:36, Alexey Rybalchenko wrote:

--
Antonio Uras
Institut de Physique Nucléaire de Lyon
http://cern.ch/auras

[2016-08-05 10:13] ktf opened #135 "Common/Header/AliceO2Config.h generated in source directory"
Looks like `${CMAKE_CURRENT_SOURCE_DIR}/Common/Header/AliceO2Config.h` is automatically generated in the source directory. This should probably be avoided in favour of generating it in the ${CMAKE_CURRENT_BUILD_DIR} and picking it up from there, otherwise it might break out of source builds.

[2016-08-08 11:50] ktf commented on #123
For the record, the jenkin issue (which really was a missing dependency issue) is now fixed. Closing this.

[2016-08-08 11:50] #123 closed

[2016-08-09 08:41] ktf commented on #121
I've done a few fixes to O2 and FairRoot in the last few days. Can you update to the tip of the `IB/v5-08/o2` branch and try again?

[2016-08-10 07:01] MohammadAlTurany commented on #119
Solved with  PR#120

[2016-08-10 07:01] #119 closed

[2016-08-18 08:56] #131 closed

[2016-08-18 11:13] MohammadAlTurany commented on #30
Solved!

[2016-08-18 11:13] #30 closed

[2016-08-18 11:18] MohammadAlTurany commented on #98
This is solved in DEV branch of FairRoot ([Pull Request 409](https://github.com/FairRootGroup/FairRoot/pull/409))

[2016-08-18 11:18] #98 closed

[2016-08-22 07:57] kouzinopoulos opened #149 "The O2_GENERATE_LIBRARY macro unsets variables passed to it"
It looks like the O2_GENERATE_LIBRARY macro is unsetting the variables passed to it, including the LIBRARY_NAME variable.

This is confusing behavior and creates the need for hacks, like for example in Examples/flp2epn/CMakeLists.txt.

[2016-08-22 08:01] kouzinopoulos commented on #149
Same hack present in the following CMakeLists.txt:

CCDB/CMakeLists.txt
Examples/ExampleModule1/CMakeLists.txt
Examples/ExampleModule2/CMakeLists.txt
Examples/flp2epn/CMakeLists.txt
Examples/flp2epn-distributed/CMakeLists.txt
Utilities/aliceHLTwrapper/CMakeLists.txt
Utilities/QC/QCProducer/CMakeLists.txt
Utilities/QC/QCViewer/CMakeLists.txt
Utilities/QC/QCMerger/CMakeLists.txt

[2016-08-22 12:42] kouzinopoulos opened #151 "Update load_all_libs.C macro with new library names"

[2016-08-23 15:47] MohammadAlTurany commented on #151
As this issue has no content I will close it!

[2016-08-23 15:47] #151 closed

[2016-08-25 22:24] kouzinopoulos commented on #135
Fixed with the latest commits in dev, this issue can be marked as resolved

[2016-08-26 08:17] #135 closed

[2016-08-26 08:18] ktf commented on #121
Closing after 17 days. Feel free to reopen if this is still an issue.

[2016-08-26 08:18] #121 closed

[2016-10-06 10:47] urasantonio commented on #131
Dear experts,

I'm re-installing the whole FairSoft + AliceO2 package and I'm again in trouble with the same problem discussed in this thread. All went fine with the FairSoft installation, but when compiling AliceO2 I find:

auras@lyoalice07:~/alialfa/AliceO2/build_o2$ make
-- Looking for Root...
-- Looking for Root... - Found /Users/auras/alialfa/external/bin/root
-- Looking for Root... - Found v

[2016-10-07 12:03] rbx commented on #131
Dear Antonio,

indeed there have been some changes in the build system and now dependencies are handled via a "bucket" system.

I am working on a way to completely solve the linking issue that you are seeing.

Until then, please try the following workaround for your build. In the file `cmake/O2Dependencies.cmake` add following two lines (marked with comments) here (starts on line 197):
[code]

[2016-11-07 16:18] kouzinopoulos opened #181 "Installation fails due to missing config/mft-dds.json file"
Building O2 fails since commit e21ee97aaec60cb08afa70fc7ff105a3d2146690 due to absence of file config/mft-dds.json from tree, as referenced by file Detectors/ITSMFT/MFT/reconstruction/CMakeLists.txt:

DEBUG:O2:0: CMake Error at Detectors/ITSMFT/MFT/reconstruction/cmake_install.cmake:187 (file):
DEBUG:O2:0:   file INSTALL cannot find
DEBUG:O2:0:   "/opt/alice/sw/SOURCES/O2/master/0/Detectors/ITSMFT

[2016-11-07 16:30] bovulpes commented on #181
In my last commit, in "Detectors/ITSMFT/MFT/reconstruction/config" I put a file with the name "reco.json", I don't know what  "mft-dds.json" is.

[2016-11-10 20:06] MohammadAlTurany commented on #149
Hallo @Barthelemy
Could you check this!
best,
Mohammad

[2016-11-11 16:15] Barthelemy commented on #149
Hi,
Yes, I agree and I don't like it either. I copied the macros from FairRoot and it is one thing I wanted to change. Could you create a ticket in JIRA ? for example in this project : https://alice.its.cern.ch/jira/projects/OCCF
Mohammad, I think that we should disable the issues in github to avoid confusion. I did not notice this issue for several months (shame on me!). All the other ALICE devel

[2016-11-11 16:37] kouzinopoulos commented on #149
Hello Barth,

I've opened this issue in JIRA: https://alice.its.cern.ch/jira/projects/OCCF/issues/OCCF-9. I didn't know that we were using JIRA for issues/discussion, maybe it should be communicated/reminded again to the rest of the group too?

Cheers,

Charis
________________________________________
From: Barth�l�my von Haller [notifications@github.com]
Sent: 11 November 2016 17:15
To: AliceO2Gro

[2016-11-11 17:14] Barthelemy commented on #149
Hi,
Thank you !
You are absolutely correct. I will maybe circulate an email on the cwg-all mailing list and remind people in the next plenary.
Cheers,
Barth

[2016-11-12 14:59] Hushnud15 opened #183 "Compilation error in AliceO2"
I have successfully installed the ALFA, FAIRROOT, Aliroot and DDS. During complitation AliceO2 I got the following error.
/home/hushnud/Desktop/My_Alice_O2/O2/Utilities/aliceHLTwrapper/src/aliceHLTEventSampler.cxx: In function ‘int sendSocketPropertiesDDS(std::vector<SocketProperties_t>&)’:
/home/hushnud/Desktop/My_Alice_O2/O2/Utilities/aliceHLTwrapper/src/aliceHLTEventSampler.cxx:520:34: error: n

[2016-11-13 22:14] ktf commented on #181
I've the same issue here, actually. I fixed it by simply dropping it.

[2016-11-13 22:14] ktf commented on #181
See also #184

[2016-11-14 14:18] MohammadAlTurany commented on #183
Hallo,

This is due to the change of the API in DDS, @matthiasrichter  could you please update the aliceHLTwrapper?

For now you can exclude the aliceHLTwrapper package from the build by committing out the line:

add_subdirectory (aliceHLTwrapper)

in the file
/home/hushnud/Desktop/My_Alice_O2/O2/Utilities/CMakeLists.txt

best,
Mohammad

[2016-11-14 16:04] kouzinopoulos commented on #181
Work around provided by commit 14e18dcd505a966eec301fb15f796ba670651410

[2016-11-14 16:04] #181 closed

[2016-11-15 20:17] matthiasrichter commented on #183
Hi Mohammad,
I spend a lot of time now to get an installation with DDS, but although using the latest alibuild and alidist, O2 cmake configuration reports that DDS is not found. Despite the fact that DDS is a dependency for both FairRoot and O2 and that it is even installed. So I have no clue what has been changed in the API. In principle changes in the API should be made backward compatible after

[2016-11-15 20:21] matthiasrichter opened #186 "DDS not found in the cmake configuration"
Using the latest alibuild and alidist, O2 cmake configuration reports that DDS is not found. Despite the fact that DDS is a dependency for both FairRoot and O2 and that it is even installed.

alidist configuration
    (cd alidist; git status)
    On branch IB/v5-08/o2

Using:
    alibuild/aliBuild build O2

[2016-11-18 09:01] ktf opened #190 "Test for slack integration"

[2016-11-18 09:02] ktf commented on #190
test

[2016-11-18 09:03] ktf commented on #190
wrong repository. Now it should work.

[2016-11-18 09:03] ktf commented on #190
Cute

[2016-11-25 10:33] matthiasrichter commented on #186
@dberzano just checked your suggestion with my development setup (after updating alibuild/alidist), but it did not help so far. Starting from scratch now in an empty folder, lets see if this will work out.

[2016-11-25 14:21] matthiasrichter commented on #186
unfortunately it's the same as before

[2016-11-30 09:53] #186 closed

[2016-12-01 04:30] matthiasrichter opened #196 "O2 build fails at installation in Utilities/QC/QCMetricsExtractor"
@Barthelemy, @PatrykLesiak compiling dev branch at 6f48149e4e3f44e3fe13b794432f17d2146ba01d
fails at installation

[code]

[2016-12-02 07:20] Barthelemy commented on #196
Hi,
Ok, I will have a look.

[2016-12-02 07:48] Barthelemy commented on #196
With the default o2-daq it compiles. I will now try with the default "o2".

[2016-12-02 09:47] Barthelemy commented on #196
On which platform do you get this ? because I can't reproduce it on CC7.

[2016-12-02 12:40] matthiasrichter commented on #196
@Barthelemy its ubuntu 14.04
I also had a quick look in the CMakeList.txt, but I could not find anything obvious. It's strange that it tries to install a file from the SOURCE with the name of the executable

[2016-12-02 16:07] PatrykLesiak commented on #196
Dear @matthiasrichter,

Could you please provide us with commands which you are using to build project ? Are you using "make install" ? Are you building the whole O2 project or just QC module ?

[2016-12-05 08:03] Barthelemy commented on #196
Actually I am hitting another problem : DDS is not detected and thus QC is not built. This might explain why I don't see your problem @matthiasrichter . Did you set any particular variable to get DDS detected by O2 ?

[2016-12-05 09:50] matthiasrichter commented on #196
Hi Patryk, Barth,
yes, I also hit the DDS pick-up-problem before, that should be fixed in the latest alidist, see
https://github.com/AliceO2Group/AliceO2/issues/186

I'm doing an installation from scratch in a clean directory, here are the commands:
[code]

The ```--disable Python-modules``` is just a workaround for https://github.com/alisw/alibuild/issues/396

Cheers
Matthias

[2016-12-05 10:24] Barthelemy commented on #196
Ok, I can reproduce the problem.

[2016-12-05 10:33] Barthelemy commented on #196
Missing subdirectory : https://github.com/AliceO2Group/AliceO2/pull/198

[2016-12-06 08:02] matthiasrichter commented on #196
Fixed in PR #198

[2016-12-06 08:02] #196 closed

[2016-12-12 23:34] urasantonio commented on #131
Hi Alexey,

Has the issue been fixed in the meanwhile?

Thanks, cheers
Antonio

[2016-12-13 09:43] rbx commented on #131
Hi Antonio,

yes, it is now fixed. Please try the newest dev branches of FairRoot/AliceO2.

With the new version, the control & config via DDS is handled by a plugin mechanism, thus the FairMQ and user devices don't need direct dependency on DDS (unless they use it for something other than what the plugin provides).

[2016-12-21 09:42] kouzinopoulos opened #211 "Linking error in DataFormats/Headers/"
When building a fresh copy of O2 using alibuild, i get the following linking error:

[code]

Ubuntu 14.04.5
GCC 4.8.4
Alidist branch IB/v5-08/o2

@mkrzewic

[2016-12-21 13:24] mkrzewic commented on #211
Hi, the compiler might be a bit too old ;) Can you pull from my dev-dataformat branch and try again?

[2016-12-21 21:09] kouzinopoulos commented on #211
Built against gcc 5.4.0, it compiles/links ok. If 4.8.x is not supported i will close the bug report

[2016-12-21 22:38] mkrzewic commented on #211
the problem was a missing definition which apparently is handled gracefully in more recent compilers. Already fixed in my branch, i'll make a pull request, so i think it can be closed.

[2017-01-04 13:05] rbx commented on #211
Just for the record, I had this error also with GCC 6.2.0. The fix from your branch helped.

[2017-01-04 15:46] mkrzewic commented on #211
gcc 4.8.5 and llvm 7.3 did not complain, but i've seen that disagreement between compilers is not that uncommon. closing.

[2017-01-04 15:47] mkrzewic commented on #211
..or rather - @kouzinopoulos can you close?

[2017-01-04 15:52] #211 closed

[2017-01-16 09:42] wiechula opened #219 "includes in header files not found"
Dear all,

if I try in a header file from TPCSimulation to include a hader from TPCBase:
#include "TPCBase/PadSecPos.h"

I get:
input_line_12:1480:10: fatal error: 'TPCBase/PadSecPos.h' file not found
#include "TPCBase/PadSecPos.h"

If the include statement is in the source file it works. If the include statement is in the header of the same component it also works.

Thanks in advance for any hint

[2017-01-16 13:59] wiechula commented on #219
Hmm, seems I found a (preliminary) solution, also perhaps not the foreseen one.

I added
${CMAKE_SOURCE_DIR}/Detectors/TPC/base/include
to the
INCLUDE_DIRECTORIES
statement of
tpc_simulation_bucket
in
cmake/O2Dependencies.cmake

[2017-02-06 08:49] Barthelemy commented on #219
Hi,
Sorry for the very late reply. You are correct, the include directory of the other component should be added. Not the most straightforward maybe. Hopefully we will find a way to add it transparently.
Cheers,

[2017-02-06 08:50] Barthelemy commented on #219
Apparently I can't close this issue. Anyone could please ?

[2017-02-06 08:55] wiechula commented on #219
I think it would be good to have some kind of documentation how this is foreseen to be done and best also the philosophy behind the CMake files

[2017-02-06 08:59] Barthelemy commented on #219
Correct. I had started something. I should finish it. Here it is : https://github.com/AliceO2Group/AliceO2/blob/dev/docs/doxygen/CodeOrganization.md

In general documentation is problematic at the moment. The doxygen does not easily build and is not in sync online. There is a JIRA for this : https://alice.its.cern.ch/jira/browse/OCCF-15

[2017-02-06 10:59] #219 closed

[2017-02-07 11:02] ktf opened #227 "Make dev the default branch"
@MohammadAlTurany, discussing with @sawenzel and @matthiasrichter we think that it would be more handy to have `dev` as the default branch in the Github GUI, rather than `master`. Any objections to change it?

[2017-02-07 11:04] MohammadAlTurany commented on #227
No objections from my side!

[2017-02-07 14:30] ktf opened #229 "Error while running FLP2EPN on Mac (Sierra)"
Running:

`/Users/ktf/work/active/sw/BUILD/O2-latest/O2/bin/flpSyncSampler --id flpSyncSampler  --mq-config /Users/ktf/work/active/sw/BUILD/O2-latest/O2/bin/config/flp2epn-prototype.json --log-color 0 --event-rate 100 --network-interface en0`

results in:

[code]

[2017-02-07 14:32] ktf commented on #229
@rbx

[2017-02-07 14:35] MohammadAlTurany commented on #229
@ktf using zmq 4.1.3  it works for me!

[2017-02-07 14:36] ktf commented on #227
Ok. Done.

[2017-02-07 14:36] #227 closed

[2017-02-07 14:57] ktf commented on #229
I just noticed I am running 4.2.1. Also checking if I accidentally did not recompile...

[2017-02-07 15:06] rbx commented on #229
I can confirm the issue with zeromq 4.2.1.
I'll investigate to find a fix.
For now, can you rollback to zeromq 4.1.3 (the one in fairsoft)?

[2017-02-08 10:52] sawenzel opened #233 "Clarification of O2device class"
Upon review of some parts of the code (with @ktf and @matthiasrichter), the following questions came up:

a) what is the purpose of the class `O2device`? It seems to offer only static (standalone) functions. None of the functions is modyfying/accessing any member variable.

In this sense, would it make sense to just offer standalone functions in a utility namespace?

b) the name `O2device` reads s

[2017-02-08 11:05] mkrzewic commented on #233
Hi,
The purpose is:
 - currently: to simplify the API. The AddMessage() method is not static, it uses FairMQ functionality, a standalone version would have to pass an additional parameter (something like "this" or a pointer/ref to a transport factory).

- in general: this would be a place to implement any other (subtle) differences to FairMQ which might (and most probably will) pop up in the futur

[2017-02-08 12:36] sawenzel commented on #233
@mkrzewic:

a) Thanks. Indeed the `NewMessage` member function is called so I understand the reasoning.

b) The class name should still be fixed.

[2017-02-08 13:28] mkrzewic commented on #233
done, #234

[2017-02-09 11:31] rbx commented on #229
This is now fixed in the dev branch of FairRoot.

[2017-02-14 12:24] ktf opened #239 "Change `AliceO2::` namespace to `O2::` or `o2::`"
I would propose we change the namespace `AliceO2` to `O2` or even `o2` given there is little value in the long name, just extra typing. I would also propose that anything O2 specific is simply put in the O2 namespace, and does not have the O2 prefix. For example things like O2Message and O2Device should really be `o2::Message` or `o2::Device`.

[2017-02-14 12:25] ktf commented on #239
For CWG11 discussion.

[2017-02-14 12:35] Barthelemy commented on #239
Added to https://alice.its.cern.ch/jira/browse/OCCF-24

[2017-02-22 13:12] sawenzel opened #240 "Check correct sizing of strings for DataDescription"
The AliceO2::Header::DataDescription constructor should check that the ("constexpr") input string is actually not longer than the allowed size

[2017-02-22 13:29] matthiasrichter commented on #240
ok,will fix this. good point

[2017-02-22 13:36] sawenzel commented on #240
I already fixed it locally in the following way:

[code]

that is taking away the `constexpr` and using runtime assert. The constexpr does not make much sense (since you assign anyway runtime conf strings).

The alternative would be to offer something like
[code]
which should work for the compile time known strings.

[2017-02-22 13:51] mkrzewic commented on #240
The idea was to do everything at compile time. But I also wanted to have some way of checking that user data formats use unique identifiers - so far I have not found a way to do this at compile time. Maybe constructing those at runtime would make the check it easier - it could fail fast at library load in case someone tries to declare an ID that already exists. But still, maybe there is a way to d

[2017-02-22 15:35] sawenzel commented on #240
Actually some other questions come up here:

Are we supposed to have completely fixed-time strings? In principle, we were happily using constructs like
`DataDescription("FOO")` which worked fine often but crashed every now and then because the constructor is trying to access memory further than 3 characters.

As a user, I would prefer not having to type
`DataDescription("FOO__________");`

I added

[2017-02-22 15:40] ktf commented on #240
+1 for the fact that we should not mandate space padded strings in the User
API. I.e. internally you can do that, but the constructor should be smart
enough to do the padding itself.

On Wed, Feb 22, 2017 at 4:37 PM sawenzel <notifications@github.com> wrote:

[2017-02-22 16:23] mkrzewic commented on #240
The original implementation did pad shorter strings with null chars. Something changed?

[2017-02-23 08:29] matthiasrichter commented on #240
I had the templated version in mind to make sure that we use compile time assert. The only purpose is to define compile time constants which can be used throughout the program. There is no need to process runtime strings. For all runtime operations, the internal integer is used.

I have to check if I destroyed the padding in commit 43d7eda05aea22c358887f7400b5dc8c1f8d0b23. Clearly we do not want t

[2017-02-23 11:31] matthiasrichter commented on #240
I have now cleaned up the patch and pushed it to my fork, please have a look
https://github.com/matthiasrichter/AliceO2/commit/35a998d921bb5404cd9477efe89d2e799bf9e5de

I'm extending the unit test now to catch all the use cases.

[2017-02-23 13:24] matthiasrichter commented on #240
ok, I also caught the occasional problem with the description strings shorter than 16. Actually it happens when the string is shorter than 8 because `String2<uint64_t>` is called two times, the second time with an offset of 8. This call is missing the correct length check. I will include the fix in my patch.

[2017-02-23 16:13] matthiasrichter commented on #240
ok, I also caught the occasional problem with the description strings shorter than 16. Actually it happens when the string is shorter than 8 because `String2<uint64_t>` is called two times, the second time with an offset of 8. This call is missing the correct length check. I will include the fix in my patch.

[2017-02-23 16:14] matthiasrichter commented on #240
I have to wait for PR #237 to be merged before pushing further updates

[2017-02-27 09:53] dberzano commented on #239
Ook seems we've forgot to discuss it. I don't see any reason why not, actually it seems a very good idea to me, and also not controversial. Can we simply carry on, without any further discussion? :-)

[2017-02-27 10:01] matthiasrichter commented on #239
Well we would need to discuss whether to use `O2` or `o2`.

Also one should probably announce it and ask developers if they want to merge pending work before this change is applied. And then of course merge pending PRs

[2017-02-27 10:03] dberzano commented on #239
@matthiasrichter the thing is that CWG11 is anyway quite restricted and somebody outside the group will miss the "discussion". Is there anybody with a very strong opinion on the subject? I really could not care less about the case!

[2017-02-27 10:06] Barthelemy commented on #239
I don't care :)

[2017-02-27 10:07] dberzano commented on #239
@sawenzel, @MohammadAlTurany, @mkrzewic do you have any take on the `O2` vs. `o2` matter?

[2017-02-27 10:16] sawenzel commented on #239
If our conventions don't tell otherwise, I generally prefer lower case letters for namespaces. Hence I would got for "o2".

[2017-02-27 10:19] ktf commented on #239
I'd prefer o2 as well.

On Mon, Feb 27, 2017 at 11:17 AM sawenzel <notifications@github.com> wrote:

[2017-02-27 10:31] ktf opened #243 "Mismatch between `AliceO2::Header::get(byte *)` and `void *FairMQMessage::GetData`"
Some compilers seems to complain about the implicit cast which happens when you do:

[code]

in order to get it to work I need to make it explicit:

[code]

Can we align the API to the FairRoot one?

[2017-02-27 10:31] ktf commented on #243
or change the FairMQ one, of course. @matthiasrichter @mkrzewic @MohammadAlTurany @rbx

[2017-02-27 10:53] MohammadAlTurany commented on #239
both fine for me!

[2017-02-27 11:15] matthiasrichter commented on #239
I have a slight preference for upper case. It will probably be more consistent with other namespace names like e.g. for the detectors. There we would probably stick to upper case. And we use camel case anyhow, so `DataFlow` might take precedence over `dataflow` as namespace name.

Using lower case would also imply to change others to lower case as well, e.g. `Header` -> `header`

On my own persona

[2017-02-27 11:40] mkrzewic commented on #239
I have no strong opinion on the case (o2/O2) - both are fine for me.

[2017-02-27 11:45] mkrzewic commented on #243
for buffers (always containing byte arrays) I prefer to be explicit and use byte* - a void* in my opinion means something else. I think the reason GetData() returns void* is because zeromq/nanomsg do that (since they present a C API), so it is kinda historic. I'd prefer to change the FairMQ one if there are no strong reasons against.

[2017-02-27 12:13] ktf commented on #239
The rationale for having lowercase namespace names would be to distinguish them from class scopes. I.e.:

[code]

[2017-02-27 12:24] ktf commented on #243
I agree changing `fairmq` is probably better, however I guess that's FairRoot team call. @rbx / @MohammadAlTurany?

[2017-02-27 12:26] sawenzel commented on #239
This is also my rational. namespace lowercase. Classes/Types uppercase.

[2017-02-27 13:12] matthiasrichter commented on #239
fine with me

[2017-02-27 13:19] ktf commented on #239
@sawenzel made me notice that this is actually different from what we have in the coding conventions:

https://htmlpreview.github.io/?https://github.com/AliceO2Group/CodingGuidelines/blob/master/naming_formatting.html#Namespace_Names

@Barthelemy @dberzano what is the procedure to change them? Shall I just open a PR?

[2017-02-27 13:24] rbx commented on #243
Your solution is the best (perhaps with a static_cast though):
[code]
Although changing FairMQ interface to byte/unsigned char would work, it is less correct.
FairMQ doesn't know what is inside the message, thus void* is the correct type. Making it char/unsigned char/signed char would be misleading. It would also open up room for error, by allowing pointer arithmetic on the returned pointer - retu

[2017-02-27 13:38] ktf commented on #243
I think `GetData<byte*>()` is as good as `(byte *)GetData()`, so IMHO is not a solution. Given also that you might want to call some C function (e.g. memcpy, memove) on the buffer, I guess my preference is for `void* GetData()` as it is now, and then we wrap it to (byte*) in the O2 specific code (since in any case `byte` is a O2 specific type). @mkrzewic what would you consider a `void*`?

[2017-02-27 13:52] Barthelemy commented on #239
@ktf I think that if there is an agreement in CWG11 (on the mailing list or in a meeting) one should simply open a PR.

[2017-02-27 13:52] Barthelemy commented on #239
(I think that there is an agreement in the mailing list in this particular case)

[2017-02-27 15:01] mkrzewic commented on #243
@ktf to me a void* is a pointer to an **object** of unknown type. In the case of the message we know the type of thing: it is a byte array. I think the old C (void*) conventions are still a bit entangled with the new one (C++11 memory model) where memory (or a buffer) is a sequence of bytes (<unsigned> char = byte).
As for the usage of memcpy: shouldn't we rather be using std::copy? as for memmove

[2017-02-27 15:11] mkrzewic commented on #243
I think in general the use of void* in C++ is being discouraged, at least for representing buffers. Even GSL (the guideline support library spec) defines a byte type for use with buffers - it then makes for an easier transition into the new stuff like array views etc. I agree it is a matter of taste - but for new code i lean towards more modern approaches, hence the introduction and the use of the

[2017-02-27 16:36] ktf commented on #243
Well, in this particular case the fact that we (O2) interpret it as a `byte*` is actually our own design decision. If I understand correctly, fairmq is actually agnostic to that and in principle one of the experiments they want to serve might decide that for them all the parts are (for instance) flatbuf serialised objects (which they support in a separate layer, if I understand correctly) at that

[2017-02-27 17:53] mkrzewic commented on #243
yes, I agree, I'm not trying to push for changes in fairmq (in this case ;)), we can do the cast to whatever o2 convention.
Aside from that - I cannot resist making a slightly philosophical note: no matter what travels in the buffer, for fairmq it looks like a pointer to start of the buffer and a length, both things are needed to describe a buffer. So if we have a void* buf and a size_t len - what

[2017-03-01 08:06] #233 closed

[2017-03-01 08:06] #229 closed

[2017-03-01 09:11] #240 closed

[2017-03-02 08:55] matthiasrichter opened #246 "Pull request verification fails with unrelated error"
Jenkins is failing on PR verification, but the error is not related to the PR
[code]

More details for #245 in https://alijenkins.cern.ch/job/aliceo2-pipeline/job/PR-245/1/console

[2017-03-02 11:12] shahor02 commented on #246
Hello,
The problem is created by a38bba73b720f597fa8198d7d58478d900ad1492 :
in Generators/include/Generators/Pythia8Generator.h
-#include "Pythia8/Pythia.h"  // for Pythia
+#include "Pythia.h"  // for Pythia

The dictionary is generated with  ``-I/home/shahoian/alice/sw/ubuntu1604_x86-64/pythia/v8211pre-1/include`` while the Pythia.h is in ``/home/shahoian/alice/sw/ubuntu1604_x86-64/pythia/v8211pr

[2017-03-02 14:21] sawenzel opened #247 "Consistenly use GetConfig from FairMQDevice"
FairMQDevice now offer a GetConfig() function. We should hence no longer use `fConfig` in our device code.

The task is to replace globally all use of fConfig with GetConfig().

[2017-03-03 09:46] sawenzel opened #249 "O2_GENERATE_DICTIONARY problem when Headers are not set explicitely"
I ran into the following problem:

a) I do not set HEADERS explicitely in my cmake
b) I set LINKDEF to some LinkDef.h

Since HEADERS are not set, `O2_GENERATE_LIBRARY` will search for HEADERS itself and picks up `LinkDef.h`. This leads to errors with rootcling because "LinkDef.h" will appear twice.

I think we need to protect against this in some way. Possibly just checking if the LINKDEF file is

[2017-03-03 11:03] Barthelemy commented on #249
You are correct. I'll have a look.

[2017-03-04 10:52] sawenzel opened #250 "Clarification/improvement of INCLUDE_DIR component in buckets"
[code]

I am slightly confused about the semantics of the INCLUDE_DIRECTORIES field in the bucket definitions. It seems that this field is rarely  needed when compiling modules/libraries. However, I noticed that we need to put information for `BarHeaders` for the purpose of ROOT dictionary generation **even though** `Bar` is already listed as dependencies.

Hence, a suggestion for improvement woul

[2017-03-04 10:52] sawenzel commented on #149
Is anyone working on this?

[2017-03-05 16:30] sawenzel commented on #246
Indeed commit a38bba7 is the problem here plus the fact that o2.sh recipe sets PYTHIA8_INCLUDE_DIR to
 `${PYTHIA_ROOT:+-DPYTHIA8_INCLUDE_DIR=$PYTHIA_ROOT/include}`.  This is a clear contradiction.

Since this is a blocker for the PR tests now, I am in favour of going back to `include "Pythia8/Pythia.h"`.

[2017-03-05 16:45] sawenzel commented on #246
See PR #252.

Another argument to stick with "Pythia8/Pythia.h" is the fact that the Pythia.h header itself uses this convention. So we should really have "$PYTHIA_ROOT/include" as include dir otherwise Pythia.h will not find its sub-headers.

[2017-03-05 22:00] #246 closed

[2017-03-06 14:57] Barthelemy commented on #149
nope, this is based on the FairRoot cmake macros. I was waiting for FairRoot to migrate to ROOT cmake macros (@Mohammad was working on that at some point) before switching our stuff as well.

[2017-03-06 14:58] Barthelemy commented on #149
I was late, you fixed it :+1: thanks !

[2017-03-06 15:25] sawenzel commented on #149
Merged into dev. Closing.

[2017-03-06 15:25] #149 closed

[2017-03-08 12:48] matthiasrichter opened #254 "Internal header files not found"
If I remember correctly we allow public header files in `${MODULE_NAME}/include${MODULE_NAME}` and internal headers which can be in the source directory `${MODULE_NAME}/src`. The latter are not automatically found .

We have to add `${CMAKE_CURRENT_SOURCE_DIR}/src` to the include directories.

[2017-03-08 13:19] matthiasrichter opened #256 "Installation failing if `include/${MODULE_NAME}` is not existing"
The installation fails if the directory for public headers is missing. That's a rare case but possible for a module with only executables and no public headers.

[2017-03-09 15:28] ktf commented on #243
Ok. I've done the work to support both void * and char * in #260. I am closing this and we continue discussion there, if needed.

[2017-03-09 15:28] #243 closed

[2017-03-10 13:45] mkrzewic opened #261 ".clang-format does not work with default centos7 clang 3.4"
Hi, the .clang-format file provided with the dev branch of O2 assumes clang 3.9 - so it will work on mac probably, but does not work on centos7 (clang 3.4). Can we revert to the older version by default?

[2017-03-10 14:22] sawenzel commented on #261
There are multiple easy ways to get clang3.9 + clang-format:
a) alibuild build clang (and hopefully being able to just fetch a prebuild binary)
b) take it from afs or cernvmfs (lcg releases)

I would be in disfavour of going back with the version, in particular since we need clang3.9 for
the static code analysis.

[2017-03-10 14:25] mkrzewic commented on #261
@sawenzel no luck getting a prebuilt version, i'm running the build. Can clang3.9 be added to --defaults-o2 so we consistently get it?

[2017-03-10 16:05] Barthelemy commented on #261
we should really have a way to get prebuilt packages from alibuild, especially for stuff like clang. @ktf ?

I think that we can add clang 3.9 to the defaults for o2. What matters is that it does not get built by default, only if explicitely asked.

[2017-03-13 10:05] #254 closed

[2017-03-13 10:05] #256 closed

[2017-03-16 08:35] #247 closed

[2017-03-16 14:41] sawenzel opened #268 "Array out-of-bounds warning in DataHeader.h"
I see the following warning, which probably needs to be fixed or silenced:

In file included from /Users/swenzel/git/sw/SOURCES/O2/0_O2_DAQ/0/DataFormats/Headers/test/dataHeaderTest.cxx:5:
/Users/swenzel/git/sw/SOURCES/O2/0_O2_DAQ/0/DataFormats/Headers/include/Headers/DataHeader.h:200:11: warning: array index 7 is past the end of the array
      (which contains 7 elements) [-Warray-bounds]

[2017-03-16 15:06] matthiasrichter commented on #268
I don't see it in my setup, what's your compiler version? Is there more information in the log, I would be interested in the line number with the code which triggers this (line 5 is just the include of the header)

[2017-03-16 15:08] sawenzel commented on #268
I'll take a look concerning the exact line. It is the clang compiler on MacOS 10.11.

[2017-03-16 15:09] sawenzel commented on #268
Here is the full log:

In file included from /Users/swenzel/git/sw/SOURCES/O2/0_O2_DAQ/0/DataFormats/Headers/test/dataHeaderTest.cxx:5:
/Users/swenzel/git/sw/SOURCES/O2/0_O2_DAQ/0/DataFormats/Headers/include/Headers/DataHeader.h:200:11: warning: array index 7 is past the end of the array
      (which contains 7 elements) [-Warray-bounds]
         (str[1+pos] && sizeof(T) >= 4 ? ((T) str[2+pos] <<

[2017-03-16 15:13] ktf opened #269 "Add LICENSE file"
Since we say we are GPL, we should add a LICENSE file to the project, so that we can make it very clear that any contribution is done under GPL.

@dberzano @Barthelemy

[2017-03-16 15:34] bovulpes opened #270 "Headers and libraries for Pythia"
Hello,

I know some changes have been recently done with the location of the Pythia related files, but I did not quite get the final conclusion. I tried recently to install the full chain (FairSoft, DDS, FairRoot, AliRoot, AliceO2) and found that in order to eliminate the errors when building AliceO2 I have to do the following (ugly) links by hand:

cd /your_software_dir/external/FairRoot/include

[2017-03-16 15:50] sawenzel opened #271 "Provide ROOT dictiononary for DataFormat/Headers"
We need dictionaries for the basic DataHeader types in order to fully do
ROOT IO on classes that use Headers.

[2017-03-16 16:03] Barthelemy commented on #269
Absolutely
There is a related issue here : https://alice.its.cern.ch/jira/browse/OCCF-1

We should really go back to the list of items of CWG11 and tackle them.

[2017-03-16 16:10] dberzano commented on #269
@ktf is the LICENSE file the only thing that's needed to make GitHub automatically place the license badge on the repository's home?

[2017-03-17 09:46] sawenzel opened #274 "Provide O2 base classes for hits"
Provide a (configurable) O2 base class for hits which is compatible with the FairRoot framework (TimeStamp + Links) but which does not necessarily has the memory overhead of FairMQPoint.

[2017-03-17 15:39] matthiasrichter commented on #268
It looks like that the different compilers handle the `constexpr` information differently, and in this case a code branch is compiled which is not called in the end. Its in line
https://github.com/AliceO2Group/AliceO2/blob/8339096e9d13a91f46a02026ba62871416b3bbe2/DataFormats/Headers/include/Headers/DataHeader.h#L576

Here the idea is to call the `StringTo` function for the second `itg` element onl

[2017-03-27 10:03] sawenzel commented on #274
@ktf: can you give your opinion on Point3D, Vector3D ... they should be in the core framework places.

[2017-03-27 13:47] bovulpes opened #279 "Link problem with Utilities/DataFlow LOG(INFO) a uint32_t"
Hello,

The linking breakes at Utilities/DataFlow/src/SubframeBuilderDevice.cxx because of the lines where a LOG(NFO) tries to printout "mDuration", which is defined in the header as "constexpr static uint32_t" and if I cast it with "static_cast<uint64_t>(mDuration)" then it passes and the build is ok.

cheers,

Bogdan.

[2017-03-27 13:58] MohammadAlTurany opened #280 "Problem with "constexpr static uint32_t" on MAC 10.12.3, Clang 800.0.38"
The dev branch does not compile on MAC OS 10.12.3 with Clang 800.0.38. I get the following error:

[2017-03-27 14:04] MohammadAlTurany commented on #280
Bogdan already reported this! I will close this issue!!

[2017-03-27 14:04] #280 closed

[2017-03-27 14:06] sawenzel commented on #279
Seems there is a problem with
`constexpr const uint32_t mDuration`; changing this to just `uint32_t mDuration` should fix this for the moment. Will take care of this.

[2017-03-27 14:07] ktf commented on #279
Weird. I am testing on both linux (via CI) and on my mac (Sierra)  and I do not have this kind of issue. Sorry about that. Will do some more checks and add your suggested fix.

[2017-03-27 14:19] mkrzewic commented on #279
Hi, a constexpr variable must be initialized immediately. Also, constexpr is implicitly const, so const there is superfluous and might trigger a compiler error.

[2017-03-27 14:22] sawenzel commented on #279
@mkrzewic : Sorry there was a typo in my message. It means "static" and we did immediately init the variable ...

[2017-03-27 14:26] ktf commented on #279
Indeed. The actual code is:

[code]

which to my knowledge is actually valid.

[2017-03-27 14:31] sawenzel commented on #279
Compiles on my MAC with 10.11.6
Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin15.6.0

[2017-03-27 14:32] mkrzewic commented on #279
looks valid, gcc 6.2 has no problems with it.

[2017-03-27 14:32] sawenzel commented on #279
@bovulpes : What is your setup?

[2017-03-27 14:33] bovulpes commented on #279
openSUSE 13.2 (Harlequin) (x86_64)
clang version 3.5.0 (tags/RELEASE_350/final 216961)
Target: x86_64-suse-linux

[2017-03-27 14:33] MohammadAlTurany commented on #279
Crashes on my MAC with  10.12.3
Apple LLVM version 8.0.0 (clang-800.0.38)

[2017-03-27 14:41] matthiasrichter commented on #279
Can you post the actual error from the compiler log?

[2017-03-27 14:45] bovulpes commented on #279
/home/bogdan/Software/AliceO2_mft/Utilities/DataFlow/src/SubframeBuilderDevice.cxx:79: undefined reference to `AliceO2::DataFlow::SubframeBuilderDevice::mDuration'
collect2: error: ld returned 1 exit status

[2017-03-27 14:45] MohammadAlTurany commented on #279
Undefined symbols for architecture x86_64:
  "AliceO2::DataFlow::SubframeBuilderDevice::mDuration", referenced from:
      AliceO2::DataFlow::SubframeBuilderDevice::SubframeBuilderDevice() in SubframeBuilderDevice.cxx.o
      AliceO2::DataFlow::SubframeBuilderDevice::InitTask() in SubframeBuilderDevice.cxx.o
      AliceO2::DataFlow::SubframeBuilderDevice::BuildAndSendFrame(FairMQParts&) in Subfram

[2017-03-27 16:43] sawenzel commented on #279
@MohammadAlTurany @bovulpes : Can you please check if my pull request #281 solves your issue?
( you might have to fetch branch swenzel/fix279 from my fork ).

[2017-03-27 17:49] MohammadAlTurany commented on #279
@sawenzel It worked for me!

[2017-03-28 06:11] bovulpes commented on #279
@sawenzel : works for me too. thanks!

[2017-03-28 07:50] #279 closed

[2017-03-28 08:01] sawenzel opened #282 "Properly address/review constexpr variables in SubframeBuilderDevice"
review constexpr variables and linking problem reported in #279.

[2017-03-29 13:14] ktf commented on #183
We can close this, right?

[2017-03-29 13:14] #190 closed

[2017-03-29 13:15] ktf commented on #269
Let's close this and continue discussion in #283 .

[2017-03-29 13:15] #269 closed

[2017-03-29 13:18] sawenzel commented on #261
I think we can close this issue. clang3.9 is available through our recipes or through /cvmfs/sft.cern.ch/lcg/..

[2017-03-29 13:18] #261 closed

[2017-03-29 13:19] #274 closed

[2017-03-29 13:33] matthiasrichter commented on #183
I have started to adjust the code to the FairMQ API. I kept the issue open because the it is not really fixed, only the compilation does not break any more

[2017-03-29 16:22] matthiasrichter commented on #282
@sawenzel we can close this, I referenced it from the commit but it was not automatically closed

[2017-03-29 16:51] #268 closed

[2017-03-29 16:51] #282 closed

[2017-03-30 13:52] mkrzewic opened #291 "C++14 feature check in cmake"
Hi, I have a first version of the feature cehck in cmake in my [branch](https://github.com/mkrzewic/AliceO2/tree/c++14features)

it is shamelessly "inspired" by fairroot, and it works (there are 5 checks in there implemented by Adam), but still cmake is reporting -std=c++11 cflags in the output (as set externally from an alidist recipe). This probably needs to be cleaned up and checked if the flag

[2017-03-30 13:54] Barthelemy commented on #291
Not sure if it fits here, but one should remember that ROOT must be compiled with the --c++14 flag if we want to use c++14 features. This is for alibuild I guess...

[2017-03-30 13:56] mkrzewic commented on #291
Hi, the code needed to do the checks is in O2, so in that sense it fits in here. Agreed that more changes will be needed in alidist (compile flags, package versions etc.) as discussed last week.

[2017-03-31 12:00] #271 closed

[2017-04-03 08:57] sawenzel opened #294 "Run unit tests during PR checking"
As a developer I would like that the unit tests are run in the PR - CI.

[2017-04-03 09:27] sawenzel opened #295 "Restructuring of tests: Move detector specific tests to the detectors folder"
I think it would be nicer to have the "sim_tpc.C" tests under the tpc directory instead of "/macro".

[2017-04-03 09:36] ktf commented on #294
Agreed. alisw/alidist#668 should take care of running them. We should really clean the tests up, as discussed, before we enable the actual testing.

[2017-04-03 11:44] ktf opened #296 "Install header files"
As a user I need to have header files installed (possibly with make install) in CMAKE_INSTALL_PREFIX so that my macros which refer to them can be run. Unless I am missing something, this is not done at the moment.

[2017-04-03 14:13] ktf commented on #296
@dberzano I understand you are doing this. Can you please assign it to yourself, if so?

[2017-04-03 14:49] wiechula opened #299 "Unit tests TPC simulation and simulation/digitisation/clusterisation shell scripts"
Using the the shell scripts in the O2 bulid folder for simulation/digitisation and clusteristiaon don't work.
macro/run_*tpc.sh
It seems that the library path is not set properly.
For this reason, most probably, also the 'make tests' concerning simulation fail for its and tpc.
E.g.:
12/29 Test #12: run_sim_tpc_TGeant3 ..............***Failed  Required regular expression not found.Regex=[Macro fini

[2017-04-03 19:23] sawenzel opened #301 "o2checkcode PR checks is giving bogus errors"
the build system is reporting bogus errors (totally unrelated) for PR checks on the "o2checkcode" part

[2017-04-04 10:07] ktf commented on #299
Were you compiling with `--defaults o2-daq`?

[2017-04-04 11:39] sawenzel commented on #299
No ... the simulations are fully enabled and I confirm that the scripts seem to be broken. I will look into this.

[2017-04-04 15:19] sawenzel opened #304 "Consistently use ClassDefOverride + apply C++11 override"
We should replace all of our `ClassDef` by the more modern C++11 compliant `ClassDefOverride` variant. Once this is done we can fix and enforce the "override" coding rule.

[2017-04-05 08:28] matthiasrichter commented on #296
I actually thought that this is working,at least for the header files in in 'include/${MODULE_NAME}' (the public ones). However, Jens notified me that my commit in #257 has broken, something. I need to have a closer look.

[2017-04-05 10:01] aphecetche opened #307 "Could NOT find GTest (FairRoot)"
Hi,

Started an AliceO2 build (using alibuild) from scratch a few minutes ago and got a new thing I did not get e.g. yesterday. Something new in FairRoot ?

[log.txt](https://github.com/AliceO2Group/AliceO2/files/895851/log.txt)

CMake Error at /usr/local/Cellar/cmake/3.7.2/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:138 (message):
  Could NOT find GTest (missing: GTEST_LIBRARY GTEST_I

[2017-04-05 10:03] sawenzel commented on #307
This is due to a change in FairRoot. The problem is more in the build system and was already fixed with the master branch of alidist.

[2017-04-05 10:11] #307 closed

[2017-04-05 13:04] sawenzel opened #308 "Make sure we have a reference to TVirtualMC in the Detector base class"

[2017-04-05 13:19] ktf commented on #307
There are actually a bunch of issues in the current FairRoot dev, when trying to use it with AliceO2.. I am looking into them.

[2017-04-06 16:52] aphecetche opened #314 "Build fails in pythia6 (on Mac)"
ends with :

==> Building pythia6@428_O2
==> pythia6 is being built (use --debug for full output): failed
ERROR: Error while executing /Users/laurent/alice/tmp/sw/SPECS/osx_x86-64/pythia6/428_O2-1/build.sh on `nanpc420.local'.
ERROR: Log can be found in /Users/laurent/alice/tmp/sw/BUILD/pythia6-latest/log.
ERROR: Please attach this file if you intend to request support.
ERROR: Build directory is /

[2017-04-06 19:03] wiechula opened #315 "cannot compile after 1c13762"
Dear all,

commit 1c13762 breaks compilation for me. Removing this commit everything works fine. Do I have to update other packages than O2 as well?

Thanks,
Jens

[2017-04-06 19:10] sawenzel commented on #315
@wiechula : Do you have the latest FairRoot? Commit 1c13762 needs the latest version of FairRoot.

[2017-04-06 19:21] wiechula commented on #315
ok thanks for the info, I'll try that

[2017-04-06 19:45] wiechula commented on #315
hmm. the requirement on cmake changed to 3.6.0. I gues this means that I'll have to recomplie all software from scratch, since mainly all packages depend on cmake, right?
So again wait for a few hours. Or is there a way around?
I only need cmake for updating FairRoot and O2 ...

[2017-04-07 05:58] sawenzel commented on #314
It fails at linking stage. Probably we need to point the compiler to the right gfortran lib.

[2017-04-07 06:13] sawenzel commented on #314
The missing symbols are indeed all in the standard `gfortran` lib.
Do you have this lib installed? What is the output of `which gfortran`?

If you have a fortran installation, you may possibly try to modify the pythia6 recipe

in

`https://github.com/alisw/pythia6/blob/alice/428/CMakeLists.txt`

and try adding (something like)

`target_link_library(pythia6 gfortran)`

@dberzano: What is your opini

[2017-04-07 07:57] mfasDa commented on #314
I can confirm this problem. I added the line Sandro suggests to my private fork of pythia6 in order to be able to compile. See: https://github.com/mfasDa/pythia6/tree/alice/428 . In principle this can be pulled into master.

In addition I ran into a second build failure, this time on Ubuntu 16.04, in LHAPDF, in the configure stage, dealing with a bug in the boost.m4 for autoconf. The bug was fixed

[2017-04-07 08:02] sawenzel commented on #314
@mfasDa: very good. I think these problems should be linked/duplicated in the alidist repo. @dberzano : What do you think?

[2017-04-07 08:46] sawenzel commented on #314
@mfasDa : I opened a PR from your branch into alisw/pythia6. Please follow up the other issue independently.

[2017-04-07 13:11] mfasDa opened #319 "Proposal for consistent naming convention for MC simulation points / hits"
I propose a consistent naming convention for MC simulation points / hits among detectors. Having consistent naming conventions improves the readability of the code. Since now AliceO2 has its own base class BasicHit I propose to use the name "Hit" as class name for detector hit classes. The name "Point" as class name for detector hit classes is in my opinion too general and might be even confusing

[2017-04-07 15:16] #315 closed

[2017-04-09 20:53] sawenzel opened #327 "Make sure all our classes have o2 namespace"

[2017-04-10 08:46] sawenzel commented on #327
attaching a list of classes without outer namespace:

[classes_without_namespace.txt](https://github.com/AliceO2Group/AliceO2/files/909494/classes_without_namespace.txt)

[2017-04-10 08:47] sawenzel commented on #327
@matthiasrichter , @Barthelemy : Can you please take a look what concerns the aliHLT + QC classes?

[2017-04-10 09:17] Barthelemy commented on #327
sure
I will add the namespace
is it just o2 ? or o2::qc ?

[2017-04-10 09:20] sawenzel commented on #327
@Barthelemy : I am not sure about our "inner" namespace policy which probably needs some discussion. But "o2::qc" should be ok.

[2017-04-10 10:08] sawenzel commented on #239
done

[2017-04-10 10:08] #239 closed

[2017-04-10 12:38] sawenzel commented on #304
done

[2017-04-10 12:38] #304 closed

[2017-04-10 13:07] sawenzel commented on #301
I believe this problem is no longer present.

[2017-04-10 13:07] #301 closed

[2017-04-10 15:41] Barthelemy commented on #327
@sawenzel done

[2017-04-11 13:47] bovulpes opened #334 "Correct namespace in magnetic field maps"
Hello,

The magnetic field maps in Common/maps/mfchebKGI_sym.root must be recreated (I could do it but I don't know how) after the change of the namespace AliceO2 ---> o2

[2017-04-11 13:57] sawenzel commented on #334
@shahor02: Could you take a look, please? ... or let me know how this is done.

[2017-04-11 13:58] shahor02 commented on #334
Hi Bogdan,

Yes, it was screwed up by the renaming of the class, I'll fix this today (need to go via intermediate dummy class).

Cheers,
 Ruben

[2017-04-11 14:06] sawenzel commented on #334
This shows again that we must get the unit tests running during PR checks ... (see #294). Once this is done these kind of errors can be avoided.

[2017-04-11 17:01] sawenzel commented on #334
Hi, ROOT should be able to solve this issue. We need to add a schema evolution rule to our dictionary generation ... that maps the source class written in the file (aka AliceO2::Field) to the new in-memory target class (aka o2::Field).

[2017-04-11 17:23] shahor02 commented on #334
Hi @sawenzel , thanks, but I think this method is not convenient in out case: it allows to map different versions of the same class or event different classes to each other. But these classes should be known to the system at compilation time. Therefore we will need to maintain both AliceO2::Field and o2::field versions (in fact for 3 classes, since 2 helper classes for Cheb.param. were also rename

[2017-04-11 17:48] sawenzel commented on #334
@shahor02 : As far as I understand the old class does not need to be known at compile time. It is the class written to the root file (which contains the streamerinfo and hence has all the knowledge).

[2017-04-11 18:14] shahor02 commented on #334
@sawenzel : Perhaps this will work, but trying testing this means essentially writing 3 copy constructors (with dynamic memory allocation etc) to the linkdef.h, while the conversion via intermediate file is already done...

[2017-04-11 19:04] sawenzel commented on #334
@bovulpes : Can you check if it works now and eventually close the issue?

[2017-04-12 09:08] bovulpes commented on #334
It works, thanks, MFT simulation/reconstruction is back.

[2017-04-12 09:11] #334 closed

[2017-04-13 10:46] dberzano commented on #314
Adding @qgp to the loop, he's taking care of this part.

[2017-04-13 12:38] sawenzel commented on #334
P.S. I tried out the solution with schema evolution, and this also works if we use the type-safe "File::GetObject" method instead of "File::Get".

[2017-04-13 12:45] shahor02 commented on #334
Thanks @sawenzel , do you mean you implement a "copy code" for o2::field... from Alice02:Field... for the full hierarchy of classes involved in the field calculation, or that one could use {{#pragma}} rules even for classes not known at compilation time?

[2017-04-13 12:46] sawenzel commented on #334
The later: Just adding a few pragmas and using the 'File::GetObject' method ...

[2017-04-19 09:35] frmanso opened #338 "AliceO2, libCDDB.so error"
Hello,

    I have installed FairSoft, DDS and then FairRoot with success on a SL6 machine. When I try to install and make AliceO2, I obtained the following message:  any hint? thanks, F. Manso.

[  9%] Linking CXX shared library ../lib/libCCDB.so
CMakeFiles/CCDB.dir/src/ConditionsMQClient.cxx.o: In function `boost::this_thread::sleep(boost::posix_time::ptime const&)':
/users_local1/manso/O2/exter

[2017-04-19 12:47] bovulpes commented on #338
Hello,
I have pulled the today's FairRoot/dev and AliceO2/dev and indeed the build of the latter is broken.

Bogdan.

[2017-04-19 12:50] bovulpes commented on #338
I guess it comes from this commit on FairRoot:

https://github.com/FairRootGroup/FairRoot/commit/7ab1fd27d5699f3c4e1c2219b55d4eee467e8424

[2017-04-19 12:53] kouzinopoulos commented on #338
I am rebuilding my copy of O2 now. In the mean time, can you check if adding Boost::date_time at line 250 of the cmake/O2Dependencies.cmake file (under Boost::filesystem) solves the issue?

[2017-04-19 14:36] bovulpes commented on #338
@kouzinopoulos: actually I have another error, see attached file.
I have also added the Boost::date_time

[make.log.txt](https://github.com/AliceO2Group/AliceO2/files/935183/make.log.txt)

[2017-04-19 19:37] dennisklein commented on #338
@bovulpes @frmanso Which `cmake` and `boost` versions are you using?

[2017-04-19 20:41] rbx commented on #338
@bovulpes looking at the log file, it seems like some part of your code still sees some old build material. The Terminate/Shutdown methods of FairMQDevice (or its children) don't exist neither in FairRoot nor in AliceO2 dev branches.
Could you just try to wipe your build directory?

[2017-04-20 07:22] matthiasrichter commented on #338
I had the same problem recently. It comes from the fact that some of the old `FairMQDevice` methods have been removed. In my case it turned out that the old header files have still been installed. The AliceO2 build takes the header files from the FairRoot installation. This results in a mismatch, because the `FairMQDevice` class as defined in the old header has some methods which are not implement

[2017-04-20 07:43] bovulpes commented on #338
I did as Mathias proposed, remove all includes from FairRoot and install it again and the errors are gone.
And just for the record, I did not install my soft using alibuild, I did it one by one separately.

[2017-04-20 12:04] frmanso commented on #338
Ok thanks for the help, I will try this fix asap (Cern trip until friday).

[2017-04-20 12:35] matthiasrichter commented on #338
Indeed, thinking more about it it's unlikely to be related to `alibuild`, seems to be something in the FairRoot cmake setup which does not install the updated headers. I will try to reproduce the case.

[2017-04-20 12:45] matthiasrichter opened #340 "Clarify impact of warnings from Vc package"
I see the following warnings from the compilation of the Vc package, we need to clarify the impact to AliceO2. If there is no impact, the Vc headers should be included in the `SYSTEMINCLUDE_DIRECTORIES` section to mask the warnings

[code]

[2017-04-20 13:32] #296 closed

[2017-04-20 14:32] dennisklein commented on #338
@frmanso If you cannot fix your linker error with the above suggestions, could you please provide some more debug infos:
* Run `make clean && make VERBOSE=1 CCDB` in your `AliceO2/build_o2` directory and attach the output here
* Run `git show -s` in your FairSoft, FairRoot and AliceO2 source directories, you have built and installed from, and post the output here.

[2017-04-22 09:55] dr4kan commented on #314
I get the same error too. Any news on this?
@mfasDa Can you please elaborate on which CMakeLists you modified in order to make the code compile? Thanks.

[2017-04-24 16:51] dr4kan opened #343 "Compilation error (OSX Sierra)"
Dear all,

I get the following error when compiling O2 (installation from scratch). It cannot find some
include files from FairRoot, which was correctly built in the installation process though.

Any ideas?

Thanks,
Davide.

DEBUG:O2:0: [ 14%] Linking CXX shared library ../../../lib/libTPCBase.dylib
DEBUG:O2:0: ld: library not found for -lFairRoot::FairMQ
DEBUG:O2:0: clang: error: linker command f

[2017-04-24 17:55] dennisklein commented on #343
It looks like a mismatch of the FairRoot version and the AliceO2 version. Can you tell how exactly you build AliceO2 (which aliBuild commands)?

Your log output shows that you try to compile a recent AliceO2 version from the dev branch which depends on imported FairRoot targets, which was only added to FairRoot dev branch couple of weeks ago. A recent enough FairRoot version should fix both the li

[2017-04-24 18:10] dr4kan commented on #343
I started an installation from scratch (on a new Mac) and I  used `aliBuild --defaults o2 build O2` to build everything so it should take care of downloading the "right" version of all dependencies. Am I missing something?

[2017-04-24 18:37] dennisklein commented on #343
The `--defaults o2` seems currently out of sync.

To verify: Can you please go to your `alidist` folder and edit the file `fairroot.sh`. Replace `5ed20b7` with `4b0272a` in the two lines starting with `version:` and `tag:` and run `aliBuild --defaults o2 build O2`. If this throws the same errors, replace with `dev` and try again.

If any of the above works, pls open an issue in the https://github.

[2017-04-24 19:31] dr4kan commented on #343
With version `4b0272a` it's now failing at building FairRoot itself (see attachment). It seems to be related to ZeroMQ, which was compiled when building version `5ed20b7`. How to force to recompile it? I tried `aliBuild clean ZeroMQ` but it did nothing apparently.

[log.txt](https://github.com/AliceO2Group/AliceO2/files/952875/log.txt)

[2017-04-24 20:17] dennisklein commented on #343
The ZeroMQ installation looks fine. But we need to make sure, that FairRoot is built from scratch.

What is odd in your attached log file, is, that `libFairMQDDSConfigPlugin.dylib` tries to link against ZeroMQ, which it should not do at all. Other targets like `libFairMQ.dylib` should link against ZeroMQ and do so successfully judging from your logs.

I am currently trying to recreate your environ

[2017-04-24 20:19] dr4kan commented on #343
Thank you very much for your help. I wait for your news then.

[2017-04-25 04:03] dennisklein commented on #343
I could not reproduce your errors so far. Would you be willing to provide more debugging infos?

In your `/Users/davidepagano/alice` directory, could you
1. run `alienv q`, `alienv list` and `aliBuild version` (from the same shell where you run the aliBuild build commands) and post the output here, then
2. edit the file `alidist/fairroot.sh` again and add the following lines just above the huge cm

[2017-04-25 06:07] dr4kan commented on #343
Please find below the output of the commands you asked for. Thanks.

[output_alienv.txt](https://github.com/AliceO2Group/AliceO2/files/954029/output_alienv.txt)

[code]

[code]

[fairroot_log.txt](https://github.com/AliceO2Group/AliceO2/files/954030/fairroot_log.txt)

[2017-04-25 11:18] dennisklein commented on #343
Can you run `csrutil status` and show the output?

[2017-04-25 11:21] dr4kan commented on #343
[code]

[2017-04-25 12:28] dennisklein commented on #343
So to sum up my findings so far:

Your original error I commented earlier. The dev branch of the FairRoot repo was force pushed with a rewritten history which changed all the commit hash ids. For that reason I suggested pointing to the new hash id. In fact, on a fresh repo clone I cannot even checkout the old hash id any more. Probably you did it at a time when the github repo was not yet garbage

[2017-04-25 13:52] dr4kan commented on #343
thanks again for your time. here's the output:

[code]

[2017-04-25 14:08] dennisklein commented on #343
Thx, I believe that narrows down the problem to the aliBuild ZeroMQ installation not being location independent on macos. Tomorrow I may have access to a mac in order to figure out how to make the aliBuild ZeroMQ installation location independent. Maybe there is also a way to fix it through the environment. I believe we already had these kind of issues in the past, I will ask some people.

[2017-04-25 14:20] dr4kan commented on #343
Ok thank you. I wait for your news.

[2017-04-26 07:47] matthiasrichter commented on #340
@mattkretz could you have a look what the warnings are about? Is this some issue of the AliceO2 code? Thanks a lot. Matthias

[2017-04-26 08:03] mattkretz commented on #340
I've seen the warning before. This should be the fix: https://github.com/VcDevel/Vc/commit/22845392a5ac7aea59ebecd23075b1b93a7b6eae
It's part of the latest Vc release.

[2017-04-26 08:40] matthiasrichter opened #344 "Build fails if ZeroMQ is not found"
cmake configuration fails if ZeroMQ is not found because `ZeroMQ_INCLUDE_DIR` is used but not set. This is triggered by a failure of FindZeroMQ from FairRoot, a valid ZeroMQ version from the system directories is not found.

In principle there should be no dependency on ZeroMQ directly in the code, everything goes via FairMQ. However, `ZeroMQ_INCLUDE_DIR` is used in many module buckets. The only i

[2017-04-26 08:58] dennisklein commented on #344
Your last point was adressed recently by FairRootGroup/FairRoot#510. Because the history in `dev` was rewritten, you find the relevant commit in FairRootGroup/FairRoot@79c6122ef012bc5 now..

[2017-04-26 09:08] matthiasrichter commented on #340
thanks a lot, Matthias!

[2017-04-26 09:48] matthiasrichter opened #345 "REQUIRED flag in FindFairMQ broken"
FairMQ is a required package in O2, but the `REQUIRED` flag seems to be ignored in `FindFairMQ.cmake`

[2017-04-26 10:10] matthiasrichter commented on #345
The bug was introduced in
https://github.com/AliceO2Group/AliceO2/commit/ab80994bbbeb6dd31d24b2034f5d276cfce159d5#diff-577a04a28cc78d72fe6e209903f47f20L30

I assume that this is a remnant from the development for the case of modular build.

[2017-04-26 11:47] wiechula opened #347 "config directory not installed to VMCWORKDIR"
The 'config' directory containing the rootmanager.dat file should be installed to
VMCWORKDIR
otherwise FairRoot will not be able to use it.

[2017-04-26 15:22] dennisklein commented on #343
quick update: I have now access to a mac and could reproduce your libzmq linker error. Working on it now.

[2017-04-26 15:25] dr4kan commented on #343
Good, many thanks.

[2017-04-26 16:41] dennisklein commented on #343
I could manually relocate the `libzmq.5.dylib` file which fixed the error as I expected. While looking into the alibuild relocation code, I noticed that there is already a pending PR alisw/alibuild#420 which addresses the relocation issue. I will test it tomorrow and vote to move the PR forward.

[2017-04-27 09:46] matthiasrichter commented on #340
It turns out that the warnings are thrown in the dictionary generation of the TPCSimulation and defining the VC includes as system headers does not work somehow to suppress the warning.

On the other hand we can not just switch to a more recent version containing the fix because this has implications to the build of AliRoot as well and the deployment of software for analysis.

[2017-04-27 09:52] mattkretz commented on #340
IIUC you're saying that fixing bugs (or warnings in this case) in dependent libraries is not possible? That sounds like a recipe for disaster. You've got to have a process for updating dependencies...

[2017-04-27 09:56] matthiasrichter commented on #340
I did not complete my message, we will not switch immediately. But very soon, there is just more thinks and implications to think about. The issue stays open until it's fixed. Sure.

[2017-04-27 10:37] matthiasrichter commented on #344
I saw this commit when I checked the history of the file. The build has this commit, but it's still not working. I have to check in more detail.

[2017-04-27 11:20] #345 closed

[2017-04-27 13:12] matthiasrichter commented on #344
The cleanup can be done if this PR in FairRoot is merged
https://github.com/FairRootGroup/FairRoot/pull/546

[2017-04-28 09:56] dberzano commented on #340
Hi all, alisw/alidist#695 (just merged) introduces C++14 support and updates Vc to 1.3.0 (not 1.3.1 though, we can do this minor bump too).

In particular, Vc will be updated for both Run2 and Run3 software, as AFAIK GCC 6 cannot compile Vc 1.2 and our only users (HLT, @mkrzewic) green-lighted the update.

Can you test with the new master from `alidist` and see if the warnings are still there?

[2017-04-28 09:57] dr4kan commented on #343
is anything changed about this? I ask because I started from scratch on another Mac, this time with El Capitan, and the installation fails for another problem (always when compiling FairRoot though).

[log.txt](https://github.com/AliceO2Group/AliceO2/files/964000/log.txt)

[2017-04-28 10:13] mkrzewic commented on #340
Hi @dberzano in the production system we use Vc 1.3.1, and since the move to 1.3 I have not seen the warnings, but your mileage might vary, as always...

[2017-04-28 13:22] dennisklein commented on #343
Hi, your last error is a mismatch between Boost and CMake versions. For Boost 1.64 one needs CMake 3.8.0+. This is because the `FindBoost.cmake` module currently used is shipped with CMake and it contains dependency information for the imported Boost targets which needs to be updated for each new Boost release.

[2017-04-28 15:28] dr4kan commented on #343
@dennisklein many thanks. that fixed the issue and I finally managed to compile o2 on El Capitain. Hopefully I will be able to compile it on Sierra too...

[2017-04-28 20:45] matthiasrichter commented on #340
Hi, the warning is only fixed in tag 1.3.1

[2017-04-28 21:00] matthiasrichter commented on #340
unfortunately, the situation got worse by orders of magnitude in the new recipe, whether it's due to Vc 1.3.0 or gcc 6.2 or both needs to be clarified. There are tons of warnings like that:
[code]

[2017-04-28 21:01] sawenzel commented on #340
Absolutely agree. Was about to write the same.

[2017-04-29 05:35] mattkretz commented on #340
the warning is new since GCC6 and produces tons of false positives. Only sensible way is to disable it. The flags produced by VcConfig should have that flag. But maybe I forgot. I'll have to take a look next week

On April 28, 2017 11:00:15 PM GMT+02:00, Matthias Richter <notifications@github.com> wrote:

--
Dr. Matthias Kretz
Senior Software Engineer
Experiment Systems

phone: +49 6159 713084
e-m

[2017-04-29 15:05] iouribelikov opened #354 "Install the AliceO2 test macros"
This is something similar to the closed issue #296 (Install header files).

Please,  restore the installation of the AliceO2/macro/ directory, that contains many macros needed for testing our code.

[2017-05-02 07:52] mattkretz commented on #340
OK, so the flag is really only used for compiling Vc itself. So, to have a proper fix, we'll need a Vc 1.3.2 release anyway. I opened VcDevel/Vc#164.

[2017-05-02 12:06] #183 closed

[2017-05-02 13:13] sawenzel opened #355 "Review of TrackID field in hit classes"
@MohammadAlTurany, @wiechula

Do we still need the trackID member in hit classes ... given the fact the FairLink MC truth will have this information anyway?

[2017-05-02 13:22] shahor02 commented on #355
@sawenzel , I would keep it until we substitute all queries pf hit->GetTrackID by the query from the link

[2017-05-02 13:23] mattkretz commented on #340
could you test latest Vc master whether all the warnings are resolved? If not I can't guarantee that 1.3.2 will be silent ;-)

[2017-05-02 13:25] sawenzel commented on #355
Sure. I did not intend to remove it now. Just wanted to understand if there is an independent need for it.

[2017-05-02 13:27] matthiasrichter commented on #340
great! will test it now. Thanks.

[2017-05-02 13:37] shahor02 commented on #355
It would be tempting to get rid of MC labels in all classes, but should not try 1st to asses the CPU overhead of accessing trackID via FairLink?

[2017-05-02 14:19] sawenzel opened #356 "Consider making TPC::BetheBloch process with floats"
The BetheBlochAleph function exists only with double signature but is called in a purely float context. Can we change the signature to take floats? This would enhance the speed of the hits treatment in the TPC.

[2017-05-02 14:19] sawenzel commented on #356
@wiechula: Any comment

[2017-05-02 14:52] wiechula commented on #356
This should be fine. I don't think we need double precision here. But one could also consider making it a template function.

[2017-05-02 14:52] wiechula commented on #355
I agree with Ruben

[2017-05-02 14:57] sawenzel commented on #356
Agreed.

[2017-05-03 11:15] matthiasrichter commented on #340
Hi Matthias, all the warnings are gone, thanks. So whenever a new tag is available, leave a note here. Then the recipe can be updated.

[2017-05-03 12:37] mattkretz commented on #340
perfect. I'll make a release then

[2017-05-03 12:41] dberzano commented on #340
Fantastic, we'll upload the alidist recipe accordingly when done! Thanks @mattkretz!

[2017-05-03 12:46] mattkretz commented on #340
here you go: https://github.com/VcDevel/Vc/releases/tag/1.3.2

[2017-05-03 13:01] dberzano commented on #340
Alright, if you update your `alidist` recipes you'll get Vc 1.3.2 for all O2 defaults.

[2017-05-03 14:29] matthiasrichter commented on #340
I'm closing the issue, everything solved in Vc 1.3.2, thanks for the quick response.

[2017-05-03 14:29] #340 closed

[2017-05-04 14:57] bovulpes opened #360 "FairMQDevice does not have function MakeTransport"
Hello,

The commit 5f2610c2 introduces

FairMQDevice::MakeTransport("zeromq")

but I get an error at compilation, since FairMQDevice does not have this function.

regards,

Bogdan.

[2017-05-04 18:59] matthiasrichter commented on #360
Hi Bogdan, please also update the FairRoot installation. This function has been introduced recently in FairRoot dev, just before the commit you mention.

Cheers
Matthias

[2017-05-05 06:45] matthiasrichter opened #361 "Run CI for pull requests also on Mac OS"
A Mac OS system needs to be added to the CI in order to detect PR errors on Mac

[2017-05-05 06:53] matthiasrichter opened #362 "Naming conflict on Mac OS"
Mac OS is case insensitive which leads to a conflict for the `Utilities/aliceHLTwrapper` module definining the `aliceHLTWrapper` executable.
Reported in #359

- [x] rename the devices of the module consistently (we anyhow started with a different naming scheme for devices)
- [x] add a check on the cmake level in `O2_GENERATE_EXECUTABLE`

`

[2017-05-05 06:56] matthiasrichter commented on #344
The TODO list is partly fulfilled in #353

I still need to check the last point what's actually going wrong in the `FindZeroMQ` macro

[2017-05-05 07:32] bovulpes commented on #360
Hi Matthias,

You're right, I was checking by mistake the "master" branch of FairRoot and did not find this.

cheers,

Bogdan.

[2017-05-05 07:32] #360 closed

[2017-05-05 12:25] dennisklein commented on #343
@dr4kan update: I made a couple of PRs with `alidist`, `aliBuild` and `FairRoot`. It will take some time to get them merged, but you could get the patches now locally, if you wanted to move on faster. Unfortunately, it is not a trivial fix.

[2017-05-08 18:36] matthiasrichter opened #369 "Build fails if AliRoot available"
The O2 build fails if AliRoot is enabled

[code]

TODO:
- [x] correct the recipe (https://github.com/alisw/alidist/issues/742)
- [x] make AliRoot ctest working (https://github.com/alisw/AliRoot/issues/187)
- [x] fix conditional build of `AliOptionParser` in AliRoot (https://github.com/alisw/AliRoot/issues/189)

[2017-05-09 06:18] Barthelemy commented on #369
Didn't we agreed to remove AliRoot as dependency of O2 ? I think that it was during a CWG13.

[2017-05-09 07:26] matthiasrichter commented on #369
yes, we did. This was mainly about the recipe.

Right now AliRoot is not removed from O2 yet, and in fact it makes sense to have it optional (thinking again about handling of legacy stuff).

In this perspective the O2 build fails if AliRoot is included in the build session. This is not the default but possible.

[2017-05-10 06:04] sawenzel commented on #356
Available as template function in dev.

[2017-05-10 06:04] #356 closed

[2017-05-10 20:47] matthiasrichter commented on #344
I can confirm that FairRoot in the current  dev branch is correctly picking up a valid ZeroMQ installation from the system.  See also https://github.com/FairRootGroup/FairRoot/issues/512
Closing this issue.

[2017-05-10 20:47] #344 closed

[2017-05-11 09:54] ktf opened #372 "Constructor of o2::Header::DataDescription should pad with 0, not " ""
Right now we have that:

[code]

because gDataDescriptionClusters is right-padded with spaces. I would suggest that either:

* The constructor pads with spaces rather than spaces.
* `gDataDescriptionClusters` and alikes are 0 padded (preferred).

[2017-05-11 10:06] mkrzewic commented on #372
agree on the second point - should be zero padded.
Another point is that the ctor should never explicitly be used in code - i'm working on a more consistent handling of that - the only (public) ctor will be copy ctor. Initialization with the strings etc. will be special and most probably only allowed in special definition files, otherwise we will run into this class of problems - we need the seman

[2017-05-11 10:14] ktf commented on #372
We do need a runtime way of creating headers and therefore data descriptions, though. If anything else to test things. At the moment I am resorting to something like:

[code]

while I am not suggesting this should be the implementation, we do need something with the same semantic.

[2017-05-11 10:32] ktf commented on #372
Rewording the issue to match the agreement.

[2017-05-11 10:44] ktf opened #373 "Unaccounted extra padding in DataHeader"
Looks like we have some unaccounted extra padding in DataHeader. The following fails:

[code]

How about we move away from C++ to define in memory data structures and we use some padding aware IDL, generating then the C++ from it. I think this would result in a much cleaner implementation at the cost of some trivial code generation.

[2017-05-11 10:44] ktf commented on #373
By the way: `((char*)(&test.dataOrigin) - (char *)(&test.reserved))` returns -8 in my case...

[2017-05-12 07:14] matthiasrichter commented on #373
Interesting, that probably means that the definition of the templated `Descriptor`in DataHeader:216 is not working as intendet.
[code]

`DataOrigin` is defined as
[code]

@ktf please assign to me

[2017-05-12 07:16] matthiasrichter commented on #373
@ktf do you have a concrete IDL in mind?

[2017-05-12 07:27] ktf commented on #373
ASN.1 is the only one I found which allows you to express endianness and unserialised data structures, at least as far as I can tell, not sure how viable it is. Thrift might also be tweaked to work that way, I think, since it separated description and actual serialisation. All the others I know of (flatbuffers, protobuf) have some sort of serialisation happening, this would mean that we lose part

[2017-05-12 08:43] matthiasrichter commented on #373
I have extended to unit test for `DataHeader.h` (still lacks many tests)
[code]
The `DataOrigin` member should be of size 4. Investigating ...

[2017-05-12 09:43] matthiasrichter commented on #373
I have located it, stupid mistake: the `Descriptor` struct defines an additional member , nicely hidden between all the lines.
[code]
I'm correcting this and I will extend the unit test.

[2017-05-12 09:48] ktf commented on #373
However that does not explain how come Mikolaj got 80 bytes yesterday. By
the way, how do we plan to deal with this kind of issues in the future?
What do we do if we realise that by accident something unintended crippled
in?

On Fri, May 12, 2017 at 11:44 AM Matthias Richter <notifications@github.com>
wrote:

[2017-05-12 09:50] mkrzewic commented on #373
Hi the 80 I get from an independent implementation in aliroot (and used to get 80 as well in O2 with gcc 4.9). The implementation in aliroot is simple, just a struct with uint32_t and uint64_t fields, no unions.

[2017-05-12 09:55] matthiasrichter commented on #373
no, we have to follow up why Mikolaj got 80. Another interesting observation: The structure size was always double the size of the number given to the template. I do not have a good explanation for that.

Anyway, this restores my trust into compilers.

For the moment I think it's fine to correct the bug and add better tests. But let's keep the topic in mind, and probably do some dedicated brainsto

[2017-05-12 10:48] matthiasrichter commented on #373
good, everything understood now.

[2017-05-12 12:48] graffaele commented on #369
I agree with Matthias, it would be very useful to keep the option to build AliRoot and O2 together.

Policies apart, I could overcome the error reported by Matthias, despite removing "AliRoot" from "disable" in defaults-o2, but at the price of hacking a bit of AliRoot code.

[2017-05-12 12:59] matthiasrichter commented on #369
I haven't checked so far, it looks like that some new functionality has been introduced which creates another hidden dependency. The HLT libraries always had the information about their dependencies. I suspect that this needs to be updated. Easy to fix if this is the case. I will check.

[2017-05-12 13:27] graffaele commented on #369
The required symbol is not defined in libAliHLTUtil because AliZMQhelpers stays in the if(ZEROMQ_FOUND) section, which is not executed. I extracted from AliZMQhelpers all the zmq-indipendent part and added that class in SRCS. For me that was the solution. In my opinion either iit makes sense to do the same in AliRoot, if part of these helpers should be provided independently from zmq being found,

[2017-05-12 13:38] matthiasrichter commented on #369
thanks, I was mislead by the name of the missing symbol and thought it is some general AliRoot function. Indeed it's code in HLT which is only build if ZeroMQ is available. Then it should be very easy to fix in the build recipe. I'm running a test now.

[2017-05-15 06:53] #373 closed

[2017-05-16 07:42] matthiasrichter commented on #369
Thanks to Raffaele's hint I could locate the problem quite quickly, however there are a couple of issues at the same time. I'm adding those as action items to the original post

[2017-05-17 07:55] matthiasrichter commented on #372
At the moment the constructor does '0' padding, but the inequality in the initial post comes from the definition
https://github.com/AliceO2Group/AliceO2/blob/4852caeb570d0143545ebc9f3b873440bbd048c7/DataFormats/Headers/src/DataHeader.cxx#L39

[code]
Actually I would keep the '0' padding, this is also what I read in the comments. That's why the title of the issue confuses me.

For the runtime part

[2017-05-17 15:04] matthiasrichter commented on #372
Just a follow up, the `runtimeInit` method is available for both the `DataDescription` and the `Descriptor`-derivatives, I had added them together at the same time.

[2017-05-17 21:18] dennisklein commented on #343
@dr4kan update: the required change in `FairRoot` is merged. The required fix in aliBuild will be included in their next release. The alidist patch is still pending, but I have hopes we will get there when aliBuild gets released.

[2017-05-18 16:24] matthiasrichter commented on #294
I think the unit test are executed now, this issue can probably be closed

[2017-05-18 19:26] sawenzel commented on #294
Ok. It seems to be the case indeed. Closing.

[2017-05-18 19:26] #294 closed

[2017-05-19 06:27] sawenzel opened #386 "TestTPCDigitContainer fails + Review of other TPC unit tests"
One of our unit test fails (even in pull requests completely unrelated to this). This should be investigated and the test re-enabled.

[2017-05-19 07:43] ktf commented on #386
Disabling the test in #387.

[2017-05-19 09:22] sawenzel commented on #386
Please review all the other TPC tests at the same time.

[2017-05-19 16:09] matthiasrichter opened #392 "Man pages only build in the top level build directory"
A man page of a module is only build when executing make in the top level build directory, make in the module's build directory does not create/update the page, thus `make install` fails.

User story: As a developer of a module I would like the man pages of the module being created as part of the modules build.

[2017-05-22 06:28] sawenzel commented on #291
This was merged. Can we close the issue?

[2017-05-22 07:16] mkrzewic commented on #291
indeed. closing.

[2017-05-22 07:16] #291 closed

[2017-05-22 08:19] sawenzel opened #394 "Index-Out-Of-Bounds error when running sim script"
Running: `tpc-run-sim`, I see the following error message during startup:

Info in <TGeoManager::CloseGeometry>: 21499 nodes/ 158 volume UID's in FAIR geometry
Info in <TGeoManager::CloseGeometry>: ----------------modeler ready----------------
Error in <TArrayI::operator[]>: index 57 out of bounds (size: 57, this: 0x7ffe955b5080)

This should be investigated and fixed.

[2017-05-22 08:47] matthiasrichter commented on #372
How do we conclude here? I vote for leaving the constructor as it as, it pads with '0'. Then the definitions can be changed to e.g.

[code]
without blanks.

Or would that conflict with the new implementation?

[2017-05-22 08:48] matthiasrichter commented on #361
@dberzano is this something you could work on?

[2017-05-22 09:46] ktf commented on #372
+1

[2017-05-22 10:05] dberzano commented on #361
Indeed. Currently, our technical limitation is that we need to do everything on CC7, but I am trying to figure out how to extend it. Won't be immediate though.

[2017-05-23 08:22] sawenzel opened #395 "Revision of test.C macro for DataHeaders"
The `test.C` for DataHeaders seems outdated. For example there is no `ROOTobjectHeader` class anymore.

I suggest to revise this file and possibly to delete it. I believe we should put tests into executables and not macros in order to be sure that they are compiled and run each time.

[2017-05-23 08:22] sawenzel commented on #395
@mkrzewic , @matthiasrichter : Could one of you please take a look here?

[2017-05-23 10:09] mkrzewic commented on #395
PR #397 takes care of this

[2017-05-23 11:06] #395 closed

[2017-05-23 13:46] sawenzel commented on #394
The problem seems to be related to Geant3TGeo:

TArray::OutOfBoundsError (this=this@entry=0x7fffffffb490, where=where@entry=0x7fffdfe07c1a "TArrayI::operator[]", i=i@entry=57)
    at /home/sandro/alisw_new/sw/SOURCES/ROOT/v6-08-02_O2/v6-08-02/core/cont/src/TArray.cxx:32
#1  0x00007fffdfda835e in TArray::BoundsOk (at=57, where=0x7fffdfe07c1a "TArrayI::operator[]", this=0x7fffffffb490)
    at /home/

[2017-05-23 14:02] sawenzel commented on #394
Made a bug report to Geant3 where this will be followed up. Will leave this open meanwhile.

[2017-05-23 14:14] pzhristov commented on #394
I think this is a problem of the geometry description in our code plus missing protection in Geant3.

[2017-05-23 14:20] sawenzel commented on #394
Yes. It will be simple to put the protection. I suggested a fix on the Geant3 github page.

[2017-05-23 14:37] shahor02 commented on #394
I think it is a bug in TGeant3TGeo and the protection will not help: the internal material ID kmat returned in ``TGeant3TGeo::Material`` by the ``G3Material(kmat, name, a, z, dens, radl, absl, fbuf, nwbuf)`` seems to follow fortran convention (starts from 1), so the ``maxNofMaterials`` in ``TGeant3TGeo::FinishGeometry()`` should be defined as incremented by 1: ``Int_t  maxNofMaterials = nofMateria

[2017-05-23 14:54] sawenzel commented on #394
@shahor02 : Thanks for this insight. Could you report this here https://github.com/vmc-project/geant3/issues/2, please?

[2017-05-24 12:54] dennisklein commented on #343
@dr4kan update: The `alidist` patch just got included. You should expect the issues to be resolved in the next release of `aliBuild`, I guess `1.5.0`.

[2017-05-26 11:57] ktf opened #401 "Running AliceHLTWrapperDevice from a non HLT expert point of view"
As a user I would like to run AliceHLTWrapperDevice because I want to connect to it and update the TimeframeValidatorDevice to support its output. In order to do so I started from the man page, however I was unable to proceed much, because of the following issues:

* [ ]  It seems that I need `libAliHLTUtil.so` which is part of AliRoot, not O2. While I can of course have the former loaded, I think

[2017-05-26 12:01] ktf commented on #401
@matthiasrichter apart from the comments above, I was thinking that maybe the component mechanism you have for the HLT should be abstracted away and considered a generic component (obvious counter indication is the fact that it introduces dynamic loading though, which people already expressed against). We should probably discuss about it.

[2017-05-26 12:46] ironMann opened #402 "testMessageFormat out of bounds error"
Hi, I've seen an occasional failure of testMessageFormat test. Here's a diff to illustrate the problem:

[code]
Not sure if that is the proper fix though. ping @matthiasrichter

Additionally,
I would suggest using GCC Undefined Behavior Sanitizer (ubsan) to run series of CI unit tests. It can catch a lot of small issues that otherwise slip under the radar.

[2017-05-29 08:28] matthiasrichter commented on #402
Thanks @ironMann for spotting this. Correct fix in the PR. About the other suggestion that is probably something to the build system. @ktf, which would be the correct project to make a feature request to? alibuild or alibot?

[2017-05-29 12:12] ktf commented on #402
I would use https://github.com/alisw/ali-bot. I agree Address Sanitizer and Undefined Behavior Sanitizer are probably a good idea...

[2017-05-29 18:26] #402 closed

[2017-06-01 12:20] sawenzel opened #406 "Accelerate static code checks during PRs"
As a user I want to have faster feedback from the C++ code checker. In particular, I only want files to be checked which are directly/indirectly influenced by a pull request.

[2017-06-01 12:22] sawenzel commented on #406
First step in this direction has been done with a script that is able to produce a "fit-to-PR" compilations database. See here: https://github.com/AliceO2Group/O2CodeChecker/commit/084efcdfc7b0489ddba68e6381c262dbd57261cd

Now we need to integrate this into the check recipe and find a way to forward the PR changeset to the script.

[2017-06-07 07:13] bovulpes opened #408 "constexpr constructor does not have empty body"
Hello,

I have a compilation error here:

/// constructor from a compile-time string
constexpr Descriptor(const char* in) : str{0}
  {
    int i = 0;
    for (; in[i] && i < N ; ++i) {
      str[i] = in[i];
    }
  }

I am using g++ (GCC) 4.9.4

Thanks.

cheers,

Bogdan.

[2017-06-07 07:39] ktf commented on #408
This is only valid if you have a C++14 capable compiler (or at least one which allows extended constexpr). [Apparently](https://gcc.gnu.org/projects/cxx-status.html) you need at least GCC 5 for this. @dberzano @mkrzewic might have more details about this.

[2017-06-07 07:40] sawenzel commented on #408
Do you build using alibuild? In principle, the O2 recipes now demand gcc 6.2 (which is a recent change). alibuild should automatically provide gcc 6.2 for you.

[2017-06-07 07:45] #408 closed

[2017-06-08 06:50] matthiasrichter opened #410 "Correct copyright information"
After #405 the copyright notice in the files is in limbo state. Also other pointers are either wrong or incomplete. Here is a list of actions to be taken

- [ ] remove conflicting old license notices
- [x] add the full license information to https//alice-o2.web.cern.ch/ and cite the correct link in the license notice (http instead of https)
- [ ] formal agreement of developers by approving PR or c

[2017-06-09 07:09] sawenzel commented on #406
The check recipe has been fully updated to support this. A PR has been opened for alidist:
https://github.com/alisw/alidist/pull/756. Next step is the coupling to the PR system which need to pass down some commit hashes to the recipe.

[2017-06-09 07:09] sawenzel commented on #386
@a-mathis : Any news on this?

[2017-06-09 10:53] a-mathis commented on #386
The errors are related to a) the change to a new Vc version and b) to the introduction of FairLinks.
As this issue is not urgend, a fix will be provided with the next pull request from TPC.

[2017-06-14 10:02] iouribelikov opened #414 "Modernization of the ITS geometry code"
The readability and maintainability of the present (written in C++9x) ITS geometry code can be improved
using new powerful features of C++11(14, ...).   To start with, the raw pointers and dynamically allocated arrays could (almost always) be replaced with smart pointers and STL containers.

[2017-06-15 07:47] #392 closed

[2017-06-15 07:50] #372 closed

[2017-06-16 06:30] matthiasrichter opened #416 "Make better formatted man pages"
Displaying the generated man pages with `man` leads to strangely formatted output, at least it's different from what I'm used to from `man`

Doesn't `man` invoke `nroff`directly in order to display the formatted output? Right now our CUSTOM_COMMAND invokes nroff and produces the formatted man page in the output text file. Displaying this with `man` results in strange formatting.

My suggestion:
-

[2017-06-19 16:11] urasantonio opened #419 "Missing package sip-check in Mac OS Sierra"
Dear experts,

I've tried to install ALICE O2 with aliBuild (aliBuild init O2@dev), and AliDoctor finds that some packages are missing:

----------------------------------------------------------------

aliDoctor O2
...

==> The following packages will be picked up from the system:

    - FreeType
    - CMake
    - Python
    - libxml2
    - zlib
    - libpng
    - autotools
    - boost

    If th

[2017-06-19 22:05] ktf commented on #419
Dear Antonio,

sip-check is not really a package, but the fact that in order for aliroot to fully function on mac, you need to disable the system integrity protection.

See also:

https://dberzano.github.io/alice/install-aliroot/prereq-osx/#system_integrity_protection

We should indeed have a better message for that.

--
Ciao,
Giulio

[2017-06-19 22:06] ktf commented on #419
Closing this. Feel free to reopen if you have more troubles.

[2017-06-19 22:06] #419 closed

[2017-06-19 23:49] urasantonio commented on #419
Thanks Giulio, the procedure described in Dario's page fixed the problem for me.

Ciao
Antonio

[2017-06-20 15:05] urasantonio opened #421 "Error in building O2 (ERROR:root:Error parsing)"
Dear experts,

when building ALICE O2 with "aliBuild --debug --defaults o2 build O2" I find the error reported in the attached log. Any hint?

Thanks, cheers
Antonio
[log.txt](https://github.com/AliceO2Group/AliceO2/files/1088615/log.txt)

[2017-06-20 15:11] sawenzel commented on #421
I would try to install the followong python modules on your system:

- matplotlib
 - numpy
 - certifi
 - ipython
 - ipywidgets
 - ipykernel
 - notebook
 - metakernel
 - pyyaml

You do this by saying:

`sudo pip install numpy` etc.

In general try to say `aliDoctor O2 --default o2` which will tell you the packages that alibuild tries to take from the system. Try to maximise this set of packages.

[2017-06-20 20:47] urasantonio commented on #421
Thanks Sandro, I managed to install some of the suggested packages and the error disappared. The building is now crashing in another point, I'll open a new issue for that.

Cheers
Antonio

[2017-06-20 20:49] urasantonio opened #423 "Error in building LHAPDF"
Dear experts,

A new error when building ALICE O2 with "aliBuild --debug --defaults o2 build O2", see the attached log. This time is about LHAPDF...
[log.txt](https://github.com/AliceO2Group/AliceO2/files/1089661/log.txt)

Thanks, cheers
Antonio

[2017-06-21 14:41] sawenzel commented on #406
The last step was done with https://github.com/alisw/ali-bot/pull/460. Closing ...

[2017-06-21 14:41] #406 closed

[2017-06-23 14:09] sawenzel opened #427 "non-conforming copyright notice in DataCompression files"
A few files slipped through the code checker at #422:

DEBUG:O2:0: ..sw/SOURCES/O2/dev/0//./Utilities/DataCompression/include/DataCompression/DataDeflater.h:1:1: error: missing or malformed copyright notice
DEBUG:O2:0: ../sw/SOURCES/O2/dev/0//./Utilities/DataCompression/include/DataCompression/TruncatedPrecisionConverter.h:1:1: error: missing or malformed copyright notice

@matthiasrichter: Can yo

[2017-06-26 14:43] dr4kan opened #428 "Error in building O2 since #422"
Hi,

I am getting some errors when compiling O2 since PR #422.

Thanks for checking.

`/alice/sw/SOURCES/O2/dev/0/Utilities/DataCompression/test/../include/DataCompression/DataDeflater.h:47:48: warning: static_assert with no message is a C++1z extension [-Wc++1z-extensions]
  static_assert(Length <= 8 * sizeof(code_type));
                                               ^

[2017-06-26 14:54] sawenzel commented on #428
@dr4kan: What is your compiler version?

[2017-06-26 14:56] dr4kan commented on #428
@sawenzel:

Apple LLVM version 8.0.0 (clang-800.0.42.1)
Target: x86_64-apple-darwin15.6.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin

[2017-06-27 08:02] sawenzel commented on #428
@dr4kan : I confirm this error. @matthiasrichter : We should try to be able to compile with MacOS El Capitan as long as possible. Would it be possible to use the older static_assert API including an error string?

Generally, I believe we should seriously reconsider to have a MacOS based pull request check to avoid such things in the future.

[2017-06-27 12:31] matthiasrichter commented on #428
Hi folks,sorry for this,think I have hit this already before. I will fix this later today,of course compilation on Macos must not be broken.

@dberzano @sawenzel @ktf can we run CI on a mac system? #361

[2017-06-27 20:52] matthiasrichter commented on #428
Reading the error message more carefully pointed me to the `std::array` to be the problem and very likely its simply a missing include. I also fixed the `static_assert` to take also an error string.

@dr4kan could you please check and approve PR #432  in case the problem is solved, thanks.

[2017-06-27 20:54] matthiasrichter commented on #361
@ktf @sawenzel @dberzano probably this issue is in the wrong project, can one of you move it to a more appropriate one? I think we should add some priority here.

[2017-06-28 08:19] #361 closed

[2017-06-28 08:19] dberzano commented on #361
You are right, see [OCCF-42](https://alice.its.cern.ch/jira/browse/OCCF-42).

[2017-06-28 08:21] dberzano commented on #428
@matthiasrichter I have opened [OCCF-42](https://alice.its.cern.ch/jira/browse/OCCF-42) to track the issue of running a build with Clang.

[2017-06-28 09:46] dr4kan commented on #428
@matthiasrichter PR #432 does not compile either even though the error is elsewhere now

Utilities/aliceHLTwrapper/src/Component.cxx:169:13: error: use of undeclared identifier 'ENOKEY'
    return -ENOKEY;

[2017-06-28 15:08] sawenzel commented on #428
@matthiasrichter : Can you please investigate the ENOKEY problem or find an alternative solution.

[2017-06-28 15:10] sawenzel commented on #428
@dr4kan : You should be able to compile now (I provided a temporary fix on the ENOKEY problem). But we will keep this issue open until properly corrected.

[2017-06-28 15:11] #421 closed

[2017-06-28 16:43] matthiasrichter commented on #428
Thanks @sawenzel,probably cerrno on mac does not define this error code.Maybe I will drop all the error codes and use exceptions later.

[2017-06-28 16:46] matthiasrichter commented on #361
Thanks a lot, Dario!

[2017-06-29 08:37] lbariogl opened #433 "Error compiling O2 (OSX Sierra)"
Dear experts,

I get a compilation error while building O2:

[code]
It seems related to GSL, which is built by aliBuild.

I used this command:
`aliBuild -z -w ../sw --defaults o2 -d build O2
`
What can I do?

Thank you.
Cheers,
Luca

[2017-06-30 13:21] sawenzel opened #437 "Review inheritance structure related to TPC::CalibRawBase"
Provide solution not using public inheritance which does not seem to apply here.

[2017-07-05 12:53] urasantonio commented on #423
Dear experts, any hint about this issue?

Thanks, cheers
Antonio

[2017-07-05 20:42] aphecetche opened #441 "Confused about namespace naming convention"
(reposting here a Slack question that might have been lost between github notifications in the #aliceo2 channel...)

Dear all, I’m a bit confused by the naming convention for namespaces. According to  http://htmlpreview.github.io/?https://github.com/AliceO2Group/CodingGuidelines/blob/master/naming_formatting.html it should be lowercase with underscores, but in the current O2 repo I see some upper

[2017-07-05 20:47] aphecetche opened #442 "(Unit) Test framework"
Trying to get myself into the "TDD" habit, I'd have a couple of questions :

- has O2 made a definite choice on the test framework (Boost or Google, e.g. why did FairRoot switched to Google recently ?)

- if the framework is Boost, any O2-specific introductory material on how to use it (e.g. which usage variant : include only, dynamic lib, etc... ) or should one "just read the existed committed co

[2017-07-06 06:18] Barthelemy commented on #441
Hi Laurent,
I do not remember if there was a special reasoning for the convention about naming the namespaces. It is not yet enforced/checked in the repo (@sawenzel can you confirm ? ), thus the little mess.
I would advise to follow the convention.
Cheers,

[2017-07-06 06:19] Barthelemy commented on #442
At the moment the choice is boost.test. There have been some discussions about it recently. There are no guides unfortunately.

[2017-07-06 08:02] ktf commented on #423
@qgp can you please have a look at this? Looks like the LHAPDF installation is lacking one of the data files.

[2017-07-06 08:02] ktf commented on #423
@urasantonio which commit of alidist are you using?

[2017-07-06 08:21] qgp commented on #423
Hi,

it seems that lhapdf finds these pdf sets already somewhere and doesn't install them. The check in the recipe then looks explicitly in the build dir and doesn't find the requested PDFs.

@urasantonio: Are you sure you run your build without any environment of another installation loaded, in particular  LHAPATH? Can you provide the environment variables in the shell where you try the build?

C

[2017-07-06 08:32] ktf commented on #423
@qgp maybe we should have `LHAPATH` explicitly unset at the beginning of the recipe?

[2017-07-06 08:37] sawenzel commented on #441
On new code we should apply what is written in the document. I started working on the code checker part for this so at some moment all namespaces will have to follow the rule.

[2017-07-06 08:39] qgp commented on #423
@ktf could be done, but similar problems could occur for other env variables, couldn't they? So, if we want to be safe against this, we should unset essentially everything. Maybe the saner thing would be to issue a warning if any module files are loaded when the build is started?

[2017-07-06 08:40] sawenzel commented on #442
There are a few usages of boost.test in O2 and I believe it is easy to understand. And the O2_MAKE_TEST() macro is easy to use to setup a test in the cmake. You can take a look here AliceO2/DataFormats/simulation/ for inspiration.

[2017-07-06 08:44] ktf commented on #423
Not so easy, I am afraid, since we do want to support system tools and they might require those variables to be set. I think it's much better to protect single recipes against pollution of known unwanted env (other obvious examples are the various FairSoft env or ROOTSYS). I will try to add it to the best practices for recipes.

[2017-07-06 08:48] qgp commented on #423
@ktf that's why I suggested a warning when module files are loaded.

Just unsetting variables is also not so easy, what if a variable gets overridden intentionally?

[2017-07-06 08:57] ktf commented on #423
If it's overridden intentionally it should be handled explicitly in any case. I.e. there should be something like:

[code]

[2017-07-06 09:09] qgp commented on #423
Well, that's my point, simply adding to the best practices for the recipes to unset variables doesn't seem optimal to me. The instructions would have to be a bit more involved. What you propose now is essentially the warning that it's using something else, only now based on the env variable instead of a module file. Anyway, we are hijacking a bit this issue ;-)

[2017-07-06 13:30] ihrivnac commented on #441
Hi,
The rule in the original document, agreed by O2 project, was:
" Namespace names follow camel case convention and start with an upper case letter: <code>MyNamespace</code>."
The change of the rule is indeed inconsistent with General naming rules, where we require camel case convention and also with the examples given in the section Namespaces in the coding guidelines section.
Cheers,

[2017-07-06 13:37] ktf commented on #441
The original rule was amended in:

https://github.com/AliceO2Group/CodingGuidelines/commit/66022f9b214176a3daa0c1a7b80cdeacc7a61a1f

after discussion in CWG11 (now WP3). As written in the ticket, the rationale is that camel cased namespaces can be confused with class names. As @sawenzel pointed out, all new code should have lowercase_underscore namespaces and we should get to convert the old code

[2017-07-06 13:41] Barthelemy commented on #441
ok, at least I understand why I was confused.

[2017-07-06 15:04] ihrivnac commented on #441
Ok, thanks. This should be also mentioned in General Naming Rule, as an exception to the camel case convention used everywhere else.
When making the changes in the code, do you plan to change the case also for the detector names in namespaces? And what about the directories names, will they follow the changes, too?

[2017-07-06 21:58] ktf commented on #441
I would propose we change detector names to lower case (to be discussed, I guess). However the directory naming has no connection to the namespaces (e.g. `DataFormats/Headers/include/Headers/DataHeader.h` has `o2::Header` in it) so that will for sure remain unchanged.

[2017-07-08 18:03] shahor02 opened #453 "Change to ROOT v6-09-04 or higher"
Hello @dberzano @ktf

to develop the geometry (hits/clusters) transformations related packages we need templated version of ROOT::Math::Impl::Transform3D< T > class available starting from v6-09-04. Is there something against to switching to this version?

Cheers,
 Ruben

[2017-07-09 16:28] aphecetche commented on #441
I buy the argument that lower case namespaces help to visually distinguish namespaces from class names, so I'd indeed be in favour of applying the rule consistently, hence including detector names.

[2017-07-10 08:45] dberzano commented on #453
As you can see in alisw/alidist#777 we mean to switch to an even more recent version, but we were holding on due to a compilation trouble concerning ROOT itself.

[2017-07-10 08:53] shahor02 commented on #453
Thanks @dberzano ! From the PR it was not clear if the problems still persist. Will it be merged soon?

[2017-07-10 08:54] dberzano commented on #453
I am testing the compilation now. That PR needs to be changed in any case, as that specific ROOT hash has compilation problems. Stay tuned...

[2017-07-10 10:32] dberzano commented on #453
OK I have managed to work around the problem (which is a CMake one) but it requires an update in the ROOT recipe. Will update soon, keep an eye on alisw/alidist#777.

[2017-07-10 14:19] dberzano commented on #453
Can you check with the latest `alidist` from master, and close the ticket if it works?

[2017-07-10 15:28] urasantonio commented on #423
Hi, thanks for the replies, I only see them now!

- I'm not sure how I can retrieve the alidist commit I'm using: is there any specific command to find it?

- Concerning the LHAPATH variable, it is not set at all: neither at the beginning of the build, nor when the building stops with the error under discussion. I explicitly checked I have no variable set with name starting with LH.

[2017-07-10 16:27] shahor02 commented on #453
Thanks @dberzano , worked w/o any problem!

[2017-07-10 16:27] #453 closed

[2017-07-11 14:45] Barthelemy commented on #453
It seems that I have a new warning when launching some apps since the new ROOT :
[code]
Do you think it is related ?

[2017-07-11 14:55] dberzano commented on #453
I do not, however those warnings are generally innocuous. Unless there's gazillions of them. Is it the case?

[2017-07-11 15:05] shahor02 commented on #453
@Barthelemy : yes, this template was not instantiated in root v6-08 (so we had do this in our SimulationDataLinkDef.h) but is instantiated in v6-10. We can now suppress the lines
[code]
in SimulationDataLinkDef.h, but this will create problems for those who are still on v6-08. Since the warning is malign, I would do this only when the code incompatible with v6-08 is pushed.

[2017-07-11 15:26] Barthelemy commented on #453
@shahor02 Ok, no problem, let's wait then.
@dberzano There are only those 2.

[2017-07-13 13:06] aphecetche commented on #442
OK, I'll use boost.test for the time being.

Still, for my own education, maybe @MohammadAlTurany can comment on why FairRoot switched to Google Test ?

Thanks

[2017-07-19 01:03] urasantonio commented on #423
Dear experts, just to tell you that after restarting from scratch the whole O2 installation, the problem with LHAPDF persists (see new, attached log). Any hint?
[log.txt](https://github.com/AliceO2Group/AliceO2/files/1157687/log.txt)

[2017-07-19 10:05] aphecetche commented on #423
Hi Antonio,

Not that it's of tremendous help to you, but I've just tried an installation from scratch (and with no prior environment set) :

[code]

and everything went fine...

[code]

[2017-07-19 10:42] urasantonio commented on #423
Hi Laurent, thanks for the feedback: on which OS did you build it?

[2017-07-27 10:08] dberzano commented on #433
After updating alidist, installing GSL and redoing everything from scratch the problem went away for @lbariogl.

[2017-07-27 10:08] #433 closed

[2017-07-28 13:03] ktf commented on #423
@urasantonio and myself sat together and I think https://github.com/alisw/alidist/pull/800 should fix the problem. @qgp can you validate it?

[2017-07-28 13:04] ktf commented on #423
Let's close this and move the discussion to the PR.

[2017-07-28 13:04] #423 closed

[2017-08-01 09:44] sawenzel opened #464 "Make types for Point3D etc globally available."

[2017-08-01 15:17] #464 closed

[2017-08-02 06:34] sawenzel commented on #343
Can we close this issue?

[2017-08-02 06:37] #314 closed

[2017-08-02 06:38] sawenzel commented on #338
Is this issue still relevant or can it be closed?

[2017-08-02 06:39] sawenzel commented on #442
Closing as this is not a real issue (problem to fix or task to achieve).

[2017-08-02 06:39] #442 closed

[2017-08-02 07:06] bovulpes commented on #338
For me it is not relevant any more, I don't know about @frmanso but I guess it can be closed since things have for sure evolved since.

[2017-08-02 07:18] #338 closed

[2017-08-02 07:22] sawenzel commented on #441
Closing this. The situation has been clarified. A tool to check the namespace rule is currently being implemented.

[2017-08-02 07:22] #441 closed

[2017-08-02 07:30] frmanso commented on #338
Hello,  It's fine for me. We can close it.Best regards. Franck.  

Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Bogdan Vulpescu <notifications@github.com> Date : 02/08/2017  09:06  (GMT+01:00) À : AliceO2Group/AliceO2 <AliceO2@noreply.github.com> Cc : frmanso <manso@clermont.in2p3.fr>, Mention <mention@noreply.github.com> Objet : Re: [AliceO2Group/AliceO2] A

[2017-08-04 12:43] sawenzel opened #476 "TPC geometry construction shows error"
Constructing the TPC geometry shows an `Error in TGeoPcon ... : Duplicate section 7/8 for shape inplug + outplug`

[2017-08-04 12:44] sawenzel commented on #476
@wichula, @a-mathis : Can someone of you take a look and fix this asap?

[2017-08-04 15:18] wiechula commented on #476
I contacted Marek and will update the geometry as soon as I have feedback.

[2017-08-09 14:44] sawenzel opened #485 "sim examples crash with Geant4"
I can't currently run the sim macros with Geant4. For example, tpc-run-sim -e TGeant4, crashes with

[code]

even though I have said: `alienv enter o2/latest`. I suspect this is a misconfigured environment.

[2017-08-10 07:58] sawenzel commented on #485
The problem was a fault g4Config.C macro in O2. Finding g4libs.C is a different issue but with ROOT6, this is actually no longer really necessary as it load libraries itself.

[2017-08-10 08:17] dr4kan opened #487 "Building error after pull (El Capitan)"
Hi,

today I updated my local repo and I found that it no longer compiles on El Capitan.
I also tried starting from scratch with the same result.

Thanks for checking.

`Common/MathUtils/test/testCartesian3D.cxx:17:
/Users/me/alice/sw/SOURCES/O2/dev/0/Common/MathUtils/include/MathUtils/Cartesian3D.h:75:12: error: use of undeclared identifier 'ApplyInverse'
    return ApplyInverse(p);
           ^

[2017-08-10 08:21] sawenzel commented on #487
We now require ROOTv6.10; It seems that you need to update your alidist and the compilation should then be ok.

[2017-08-10 09:42] dr4kan commented on #487
@sawenzel yes you are right. that fixed the error.
thanks.

[2017-08-10 09:45] #487 closed

[2017-08-10 13:39] sawenzel opened #489 "unit test test_DataGenerator fails on MacOS 10.11"
error: in "test_DataGenerator": check mostAbundantValue == mostProbableValue has failed;

Might be due to a comparison of floating point values? @matthiasrichter: Can you please take a look?

[2017-08-11 06:49] matthiasrichter commented on #489
ok, I will have a look

[2017-08-11 14:19] sawenzel commented on #485
Closing issue since properly running.

[2017-08-11 14:19] #485 closed

[2017-08-16 15:02] sawenzel opened #496 "O2 default build type seems to be "Debug""
I noticed that cmake adds `-fno-inline` to the compile flags on Mac. I believe this is due to the fact that the default build type seems to be Debug and we forgot to set it to "RelWithDebug" in the o2 recipe.

[2017-08-16 15:15] sawenzel commented on #496
See https://github.com/alisw/alidist/pull/817

[2017-08-16 15:19] sawenzel opened #497 "Check dimensioning and material of cave (aka ALIC)"

[2017-08-17 11:43] #489 closed

[2017-08-17 12:43] matthiasrichter commented on #427
@sawenzel  this has been fixed in dfb7818a63cf56d0f12bbbd198d4fa2212ecd8fb and can be closed now

[2017-08-17 13:25] #427 closed

[2017-08-18 09:59] #354 closed

[2017-08-21 10:34] a-mathis commented on #386
Fixed in https://github.com/AliceO2Group/AliceO2/pull/505

[2017-08-21 16:17] #496 closed

[2017-08-21 16:18] #428 closed

[2017-08-21 16:21] sawenzel commented on #343
Closing this. Please reopen if this is still an issue.

[2017-08-21 16:21] #343 closed

[2017-08-23 07:04] sawenzel commented on #497
Dimension has been corrected (it was much too large leading to too many MC steps). Material was correct.

[2017-08-23 07:04] #497 closed

[2017-08-24 18:15] #386 closed

[2017-08-24 18:17] sawenzel commented on #394
Fixed in Geant3. Closing.

[2017-08-24 18:17] #394 closed

[2017-08-30 09:43] dr4kan opened #519 "Cannot do anymore 'alienv load O2/latest' or 'alienv enter O2/latest' on mac"
Hi,

after a rebase I cannot do anymore 'alienv load O2/latest' or 'alienv enter O2/latest' on two different macs. I get the error "ERROR: O2/latest was not found".
On one of the two mac I also tried a clean install from scratch with the same result. Building was fine.
Never had this issue before. Am I missing something?

Thanks,
Davide.

[2017-08-30 09:49] matthiasrichter commented on #519
Hi Davide,
did you check with `alienv q` which packages are available? I'm not sure if `O2/latest` is defined, but `O2::latest` should be defined.

Cheers
Matthias

[2017-08-30 09:54] dr4kan commented on #519
O2::latest is not defined in my case...How is it possible?

`$ alienv q | grep O2
VO_ALICE@GEANT3::v2-4_O2-1
VO_ALICE@GEANT3::v2-4_O2-2
VO_ALICE@GEANT4::v4.10.01.p03_O2-1
VO_ALICE@GEANT4_VMC::v3-2-p1-alice1_O2-1
VO_ALICE@GEANT4_VMC::v3-2-p1-alice1_O2-2
VO_ALICE@HepMC::v2.06.09_O2-1
VO_ALICE@ROOT::v6-08-02_O2-1
VO_ALICE@ROOT::v6-10-02_O2-1
VO_ALICE@Vc::1.3.2_O2-1
VO_ALICE@hijing::v1.36_O2-1
VO_ALIC

[2017-08-30 10:00] matthiasrichter commented on #519
Difficult to say what happened. In which project have you done the rebase (e.g. O2, alibuild, alidist)? Did you run `alibuild` after that?

I think the cleanest way is to run `alibuild` again after updating also the recipes.

[2017-08-30 10:02] ktf commented on #519
which version of alibuild is this?

[2017-08-30 10:07] dr4kan commented on #519
@matthiasrichter I have already tried to do a clean installation (I removed the whole alice folder) on one mac, but after building everything I was still unable to load O2.

@kft aliBuild version: 1.4.0rc1

[2017-08-30 16:15] dr4kan commented on #519
I did another install from scratch, installing only O2. Now I get "ERROR: AliPhysics/latest was not found". Even "alienv q" leads to the same error. Guys, any ideas? Two different mac computers with two different os versions (el capitan and sierra)...can anybody try to replicata the issue on a mac?

Thanks.

[2017-09-04 06:43] matthiasrichter commented on #410
first related PR is #513

[2017-09-04 06:58] matthiasrichter commented on #270
Hi Bogdan (@bovulpes),
I believe this issue can be closed. Running cmake for AliceO2 allows to set the switches ` Pythia6_LIBRARY_DIR` and `PYTHIA8_INCLUDE_DIR` which control exactly this. In your workaround you simply added the Pythia include and library to directories already known to the build system. The `o2.sh` recipe for `alibuild` configures those switches. When not using `alibuild` one is

[2017-09-04 09:04] matthiasrichter commented on #250
I did some investigation regarding this issue. If the dependency is a bucket, also all the (system)include directories are recursively retrieved in `GET_BUCKET_CONTENT` and added to the includes of a module.

Another case is probably if the dependency is a library from a different module of the same project. Like e.g. the `Field` module/library which is a dependency for `tpc_simulation_bucket`. He

[2017-09-04 09:05] dberzano commented on #410
#513 has been merged.

[2017-09-04 14:14] #362 closed

[2017-09-04 14:24] Barthelemy commented on #250
@matthiasrichter
Concerning the side remark : yes, as far as I know, it is some CMake magic that works when dependencies are built and known internally.

[2017-09-04 14:38] sawenzel commented on #250
@matthiasrichter : Thanks for the explanation. This means that we might be able to cleanup our bucket definitions quite a lot.

[2017-09-06 20:18] matthiasrichter commented on #519
Can you provide some more information, especially the command line you have been using to build. and the complete commands you enter when getting the error messages. That can probably help to trigger more thinking.

To be honest I don't have any idea, just some thoughts.
- O2 is not depending on AliPhysics, so there is probably no wonder that AliPhysics is not installed when installing only O2
- `

[2017-09-07 08:58] bovulpes commented on #270
Hi Matthias,

Ok, things have evolved since, I am closing it.

[2017-09-07 08:58] #270 closed

[2017-09-13 07:49] sawenzel opened #547 "Improve access to MCTruthContainer; Provide array_view like interface"
We would like to be able to query the MCTruthContainer in a convenient way, such as

[code]

or at least some other way to quickly access the right labels (for example with iterators, etc.).

[2017-09-13 11:44] sawenzel commented on #476
@wiechula : Your PR #548 partially fixed the problem. There is still a remaining error message:

[code]

[2017-09-13 14:06] jmyrcha opened #550 "O2 build with tutorial - protobuf-compiler required"
ubuntu 17.04
command:
aliDoctor O2
do not report missing package  `protobuf-compiler` in the system
command:
`aliBuild --defaults o2-daq build O2`
stops on missing /bin/protoc
After installing package  `protobuf-compiler`  there are still not set build environment variable PROTOBUF_ROOT
Setting it
`export PROTOBUF_ROOT=/usr`
before running aliBuild solved a problem

[2017-09-14 08:31] wiechula commented on #476
Hi Sandro,
I cannot relate the output you show above with my commit in PR #548. If you look there
https://github.com/AliceO2Group/AliceO2/pull/548/files
There are only 13 z layers not 14 as shown in your output above. So it seems the new geometry was not installed in the test that was done.
I don't see this error in my test.

[2017-09-14 08:34] wiechula commented on #476
Ahh sorry, there is also an outplug. I overlooked this. The names are too similar.

[2017-09-14 08:50] #476 closed

[2017-09-14 12:16] sawenzel commented on #547
A step into this direction is done via this PR: https://github.com/alisw/alidist/pull/851

[2017-09-15 09:58] #547 closed

[2017-09-19 19:31] sawenzel opened #559 "Move ITS Geometry initialization / configuration inside Detector::ConstructGeometry"
Move ITS geometry configuration and initialization inside Detector::ConstructGeometry function.
Goal: easier integration into o2sim and and build_geometry.C macro.

[2017-09-19 19:33] sawenzel commented on #559
@mario6829 , @shahor02 , @iouribelikov : As preveously discussed, would it be possible to hide geometry initialization behind the Detector::ConstructGeometry interface so that we can construct the ITS easily inside the `macro/build_geometry.C`?

[2017-09-20 07:11] matthiasrichter commented on #519
@dr4kan is this solved now?

[2017-09-20 07:32] dr4kan commented on #519
@matthiasrichter a couple of days after I opened this thread, after the n-th git pull for both alisdist and O2, it restarted working again. thanks.

[2017-09-20 07:32] #519 closed

[2017-09-20 09:33] iouribelikov commented on #559
@sawenzel  Sure !  I will try to do it asap.

[2017-09-20 13:53] iouribelikov commented on #559
@sawenzel , @mario6829 , @shahor02 : A quick fix is now available here: https://github.com/iouribelikov/AliceO2/tree/dev/
It can be merged, in principal.

[2017-09-20 14:09] sawenzel opened #563 "Use new float version of TVirtualMC::TrackPosition etc when available"
We should consistently use the inexpensive new interfaces TVirtualMC::TrackPosition when the appropriate software versions of ROOT, Geant4VMC, Geant3 are available. (Target end of november 2017).

[2017-09-20 14:13] sawenzel commented on #559
@iouribelikov : Looks good to me. Can you make a pull request?

[2017-09-20 20:19] sawenzel opened #566 "Achieve a cleanly compiling state (no warnings in standard conf)"

[2017-09-22 07:57] #559 closed

[2017-09-22 12:57] #566 closed

[2017-09-25 08:54] sawenzel opened #580 "Move HitType declaration inside Detector classes"
Prefer
[code]

over

[code]

[2017-09-26 19:05] aphecetche opened #582 "CentOS7 : compilation fails in CCDB because of protobuf ?"
As my Mac currently no longer builds alice code (had the auto update activated so I got the Xcode 9 unfortunately :-( ), I'm trying to revive my centos7-in-a-container build setup.

And I run into a problem related to protobuf :

[code]

[2017-09-27 09:43] sawenzel opened #584 "Fix all namespaces according to convention and impose in PR checking in future"

[2017-09-27 14:58] matthiasrichter commented on #584
this is probably an extension to #327?

[2017-09-29 15:06] sawenzel opened #594 "Fix non-compiling macros"
The following ROOT macros are currently not "compiling" (or ROOT fails loading them with .L). They should be fixed in order to reach a green state:

- [ ] /Detectors/EMCAL/testsimulation/drawEMCALgeometry.C
- [ ] /Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
- [ ] /Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
- [ ] /Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
- [ ] /Detectors/ITSMFT

[2017-10-02 08:51] ZdravkoD commented on #594
Fixed macros:

- [x]  /Detectors/EMCAL/testsimulation/drawEMCALgeometry.C
- [ ]  /Detectors/ITSMFT/ITS/macros/test/CheckClusterShape.C
- [ ]  /Detectors/ITSMFT/ITS/macros/test/CheckClusters.C
- [ ]  /Detectors/ITSMFT/ITS/macros/test/CheckDigits.C
- [ ]  /Detectors/ITSMFT/ITS/macros/test/CheckTracks.C
- [ ]  /Detectors/ITSMFT/ITS/macros/test/DisplayTrack.C
- [ ]  /Detectors/Passive/macro/PutFrameIn

[2017-10-03 12:51] sawenzel opened #597 "SimpleStatefulProcessing01 randomly fails with timeout"
One of the unit tests fails sometimes like this:

[code]

[2017-10-03 14:42] #594 closed

[2017-10-03 14:46] sawenzel opened #599 "Review SimulationDataFormat/DetectorList.h"
This detectorlist is completely out of date / incomplete. It seems to be used only in the stack + ITS + TPC.
We need to review this class and eventuelly promote other classes to use it or drop it completely.

The question is also how this class relates to novel approaches (such as DetID).

[2017-10-03 14:46] sawenzel commented on #599
@shahor02 : Could you take a look here and tell me what you think?

[2017-10-03 14:48] sawenzel commented on #599
I think we should automatically couple each Detector class to a DetID so as one can not forget about this in the future.

[2017-10-03 14:51] sawenzel opened #600 "Review default constructors of Detectors"
Make sure detectors have a correct default constructor such that reading from FairParBaseSet (done by FairRunAna) does not crash or investigate why default constructors don't work.

Detectors having only `Detector() = default;` crash with the following symptom:

[code]

[2017-10-03 15:27] shahor02 commented on #599
@sawenzel : I agree, will open PR with modified Detector constructor and use of ID.

[2017-10-05 09:11] bovulpes opened #604 "ITSMFT common clusterer is in the wrong namespace"
Hi,
The Clusterer.h in ITSMFT/common/reconstruction places this class in the o2::ITS namespace instead of the o2::ITSMFT one.
Thanks.

[2017-10-05 09:50] shahor02 commented on #604
Hi @bovulpes , thanks for spotting, fixed in https://github.com/AliceO2Group/AliceO2/pull/605

[2017-10-05 12:04] #604 closed

[2017-10-05 14:26] bovulpes commented on #594
Hi Sandro,

First, I have a problem in compiling the MFT macros if I add to

#if !defined(__CINT__) || defined(__MAKECINT__)

another definition check

#if (!defined(__CINT__) && !defined(__CLING__)) || defined(__MAKECINT__)

as you have corrected them, whereas only with the first checks it compiles and runs fine.

I understand that we can put macros in Detectors/ITSMFT/MFT/macros for instance, wi

[2017-10-05 16:50] shahor02 commented on #594
I had the same problem: the correct protection is (https://root.cern.ch/root/htmldoc/guides/users-guide/Cling.html#moving-between-interpreter-and-compiler):
[code]
I don't see why do we need __CINT__ and __MAKECINT__ protections, in any case our code will not run on root5.

I'll open PR with the fix.

[2017-10-06 06:12] sawenzel opened #609 "Remove access to FairRootManager from within TPC Digitizer tasks"
With a few towards device processing, FairTask run/exec functions should be completely isolated and should not require access to external services in order to get information

This is currently not the case for a few tasks (such as TPC digitizer);

Deliverable:
a) provide mechanism that pushes required information (such as event number, event time, ...) as input data
  - idea is that the analysis

[2017-10-06 06:23] sawenzel opened #610 "Move from TClonesArray simulation data to std::vector"
Since FairRoot #e6042fb30ae, we are able to use standard strongly typed containers to store and exchange simulation data.

O2 should be migrated to use this new feature for the additional benefit of reduced memory.

The following steps need to be done

- [x] Provide updated FairRoot (see https://github.com/alisw/alidist/issues/871)
- [x] Move TPC hit data objects
- [x] Move TPC digit data objects

[2017-10-06 08:33] bovulpes commented on #594
I still have a problem with the MFT macros when I try to simply load and compile in root, I always need to load the necessary MFT libraries, while for the ITS is is not necessary: for example run_sim_its.C and run_sim_mft.C
.L run_sim_its.C+    is ok
.L run_sim_mft.C+   has undefined reference to the MFT libraries
Is there a hidden rootlogon somewhere which should be modified?

[2017-10-06 08:58] shahor02 commented on #594
@bovulpes : I am sure there is no any special rootlogon for ITS, the libraries are supposed to be loaded automatically. The libITSSimulation.rootmap and libMFTSimulation.rootmap look similar, no idea why it is not loaded for MFT. Perhaps @ktf may suggest something?

[2017-10-06 11:53] sawenzel opened #612 "Integrate MFT into o2sim"
I would like to integrate MFT with o2sim which accumulates all detectors in one single place.

Would it be possible to move configuration of the segmentations inside the Detector construction or somewhere else, so that
[code]
is all there needs to be done?

See also similar issue #559 which was done for ITS.

- [x] integrate MFT into build_geometry.C
- [x] fix / provide segmentation configuration

[2017-10-06 11:55] sawenzel commented on #612
At least Detector() should be able to use a standard segmentation and should not crash when none is available.

[2017-10-06 11:57] sawenzel commented on #612
@bovulpes: Could you please take a look?

[2017-10-06 12:10] sawenzel commented on #599
This is fixed with PR #601.

[2017-10-06 12:10] #599 closed

[2017-10-10 14:55] #612 closed

[2017-10-19 14:57] bovulpes commented on #612
@sawenzel the MFT code runs fine with the standard segmentation, since we are not using it specifically, but only in the way it is included in the common part with the ITS.

[2017-10-24 07:53] matthiasrichter commented on #369
last item fixed in https://github.com/alisw/AliRoot/pull/419

[2017-10-24 07:53] #369 closed

[2017-10-24 10:02] sawenzel commented on #582
@aphecetche : Is this issue still relevant/open?

[2017-10-24 12:57] #582 closed

[2017-10-24 12:57] aphecetche commented on #582
No. Looks like it's been fixed.

[2017-10-25 06:56] sawenzel opened #637 "TPC: testHitsDigitsClusters.C macro broken -- needs revision"
This macro is broken and needs some revision:

a) wrong name used for tree
b) needs update to use the correct type for hits (now using deprecated Point but needs sectorwise grouped hits)

[2017-10-25 06:58] sawenzel commented on #637
@wiechula : Can you find someone to fix this?

[2017-10-25 11:18] wiechula commented on #637
@a-mathis can you please have a look at this? If you don't have time I'll fix it.

[2017-10-25 11:23] a-mathis commented on #637
From my point of view we can delete this macro - it was added in the rush before the testbed and in future I would like to have this test automatically done. Apart from that, all this macro does is some visualisation.

[2017-10-26 09:13] sawenzel opened #640 "Memory problems with Geant4 run"
Running `tpc-run-sim -n 1 -e TGeant4` leaves a strange warning message at process exit

[code]

Valgrind also reports several problems with invalid free/delete/ etc. for this run (see attachment [valgrindGeant4.txt](https://github.com/AliceO2Group/AliceO2/files/1417641/valgrindGeant4.txt)).

The same run with Geant3 does not show these problems.

Environment:
FairRoot: af83f7321db
O2: 8b61da9579a2

[2017-10-26 09:14] sawenzel commented on #640
@ihrivnac : Maybe you have an idea?

[2017-10-26 09:17] sawenzel commented on #355
Closing this. We keep the trackID and do not use the FairLink ptr.

[2017-10-26 09:17] #355 closed

[2017-10-26 09:17] sawenzel commented on #550
Any news on this issue?

[2017-10-26 09:22] sawenzel commented on #347
Issue fixed. The config folder is found under $VMCWORKDIR.

[2017-10-26 09:22] #347 closed

[2017-10-26 09:59] ihrivnac commented on #640
This happens when you exit your program without deleting VMC application; it can be reproduce with VMC examples macro, eg. E03/run_g4.C when you comment out the last line:
  // delete appl;

[2017-10-26 10:11] sawenzel commented on #640
Thanks. I think the problem goes beyond our O2 code and is potentially a problem in FairRoot which manages the VMC application. From an O2 perspective, we do not even see the vmc instance.

[2017-10-26 10:22] ihrivnac commented on #640
In FairRoot, the VMC application is created/deleted by FairRunSim, so you should check in O2 whether you delete this object before exiting program.

[2017-10-26 10:31] sawenzel commented on #640
yes i do

[2017-10-26 10:45] ihrivnac commented on #640
Ok, then it seems to be due to not deleting TVirtualMC object (TGeant4 in this case) in FairRootMCApplication. Could you try to add this delete as the last line in FairMCApplication::~FairMCApplication():
  delete fMC;

[2017-10-26 12:10] sawenzel commented on #640
@ihrivnac : Yes this seems to solve part of the problem indeed. I now no longer see the warning but valgrind still reports memory problems.

[2017-10-30 09:08] ktf commented on #550
This should have been fixed by alisw/alidist#896 and associated PRs. Is it not the case?

[2017-10-31 15:42] sawenzel opened #646 "A unit test running the whole chain of algos"
We need to put a unit test that runs the whole sequence to algorithms and performs a final check on some numbers (like tracking efficiency).

[2017-11-01 13:31] sawenzel opened #648 "Review interfaces taking a pointer input"
Interfaces taking a reference are preferred over interfaces taking a pointer;

Make a dedicated sweep of the code and fix such things.

[2017-11-10 13:31] ktf opened #660 "Personal file referred in code"
I see at:

https://github.com/AliceO2Group/AliceO2/blob/dev/Utilities/QC/QCMetricsExtractor/src/MetricsExtractor.cxx#L33

that we have a personal directory mentioned explicitly. Can that be removed and can instructions point on where to find the file?

[2017-11-10 13:36] ktf commented on #660
@Barthelemy I am assigning this to you, as I assume you know who this is. Feel free to reassign, please.

[2017-11-14 15:27] shahor02 opened #668 "fatal error: 'gsl/gsl' file not found: need to load libSimulationDataFormat.so by hand"
Hello,

Compilation of macros involving (indirectly) ``SimulationDataFormat/MCTruthContainer.h`` fails unless the
````libSimulationDataFormat.so```` was loaded by hand beforehand:
``
root [0] .L run_digi.C+
Info in <TUnixSystem::ACLiC>: creating shared library /home/shahoian/tmp/o2sim/./run_digi_C.so
In file included from input_line_11:9:
In file included from ././run_digi.C:19:
In file included f

[2017-11-15 12:43] sawenzel opened #671 "Potential problem with track parentID when using Geant4"
There seems to be some inconsistency with the parentID of tracks pushed to our (VirtualMC)Stack -- in case of Geant4VMC.

In particular, I see that tracks refer to a primary parentID `n` although this primary particle was already finished (as indicated by the `FinishPrimary`) hook in the VMC application. This is violating the principle that a primary and all its secondaries are transported before

[2017-11-15 12:44] sawenzel commented on #671
@ihrivnac , @pzhristov , @preghenella, @shahor02 : Any idea would could go wrong here?

[2017-11-15 14:14] ihrivnac commented on #671
Could you add in your printing the particles PDG code, so that we can see what are the particles which got postponed till the end?

[2017-11-15 15:35] ihrivnac commented on #671
I was wrong when I thought that this behaviour is by default.
You need to activate "special stacking" to get all secondaries tracked  before the next primary goes in tracking; this is done in g4Config.C:
   Bool_t specialStacking = true;
   Bool_t mtMode = true;
   TG4RunConfiguration* runConfiguration
    = new TG4RunConfiguration("geomRoot", "QGSP_FTFP_BERT", "stepLimiter+specialCuts",

[2017-11-15 17:34] sawenzel commented on #671
@ihrivnac : This is good news. Thanks a lot!!

[2017-11-15 18:16] sawenzel commented on #671
@ihrivnac :  Running with the `specialStacking = true` should probably be the only allowed default as anything else breaks compatibility with the VMC interfaces.

[2017-11-22 07:37] sawenzel commented on #671
Closing this as no longer a problem. It should probably still be discussed if `specialStacking = false` can be allowed at all.

[2017-11-22 07:37] #671 closed

[2017-11-22 09:54] #610 closed

[2017-11-23 10:34] sawenzel opened #692 "Move Geant4 + Geant4_VMC to latest tags for O2"
We need to bump GEANT4_VMC to tag 3.5 in order to
* compile/run PR #684
* benefit from new feature to control magnetic field in G4

In order to achieve this, we need

- [x] solve compile problems of G4_VMC with our recipes (conflict of C++11 vs C++14)
- [x] bump G4 to version 10.3.3 (for O2)
- [x] bump G4_VMC to tag 3.5 (for O2)

[2017-11-23 14:16] sawenzel commented on #410
Is this issue still relevant or can it be closed? If not what is the status?

[2017-11-23 20:45] matthiasrichter commented on #410
we did not solve all the items, but it doesn't seem to be very important, closing the issue

[2017-11-23 20:45] #410 closed

[2017-12-06 11:14] ihrivnac opened #707 "Coding Guidelines violations"
While making changes for MT simulation I noticed that several coding guidelines are not followed.
1) use of tabulations is not allowed, see the rule "Spaces vs. Tabs" in "ALICE O² C++ Naming & Formatting Rules"; I attach below the list of files where the TABs are detected. It would be nice to get this automatically checked when reviewing a pull request.
2) static local variables are not allowed, s

[2017-12-08 09:31] matthiasrichter commented on #660
@Barthelemy what do you think about this?

[2017-12-08 09:39] matthiasrichter commented on #597
Should we fix this unit test or remove it completely (not only from the build?

https://github.com/AliceO2Group/AliceO2/pull/603

[2017-12-08 09:50] Barthelemy commented on #660
sorry missed this
will try to look into it today

[2017-12-13 22:40] ktf commented on #707
I fixed all the tabs in  #732. The other two points, while valid, are frankly not actionable. If you have specific examples which you think should be fixed, possibly with an associated PR, we can for sure take a look, otherwise I am closing this.

[2017-12-13 22:40] #707 closed

[2017-12-13 22:41] ktf commented on #668
Is this still an issue?

[2017-12-13 22:41] ktf commented on #660
Any news on this?

[2017-12-13 22:42] ktf commented on #648
Can we move this to JIRA? I think the agreement was to track in github only specific actionable issues, not generic (although perfectly valid) tasks.

[2017-12-13 22:43] ktf commented on #249
Is this done?

[2017-12-13 22:44] ktf commented on #250
Closing this as I understand this is understood. Feel free to reopen if not the case.

[2017-12-13 22:44] #250 closed

[2017-12-13 22:46] #401 closed

[2017-12-13 22:47] ktf commented on #550
This should be fixed. Closing.

[2017-12-13 22:47] #550 closed

[2017-12-13 23:07] shahor02 commented on #668
@ktf: yes, the macro attached above does not compile unless libSimulationDataFormat.so was loaded beforehand, producing
``
/home/shahoian/alice/sw/ubuntu1604_x86-64/O2/dev-1/include/SimulationDataFormat/MCTruthContainer.h:21:10: fatal error: 'gsl/gsl' file not found
#include <gsl/gsl> // for guideline support library; array_view
``

[2017-12-14 07:56] Barthelemy commented on #660
The mergers will be reworked completely by Michal in AGH under the supervision of Jacek. I think that it should reassigned to them. I can't re-assign myself apparently.

[2017-12-14 08:05] Barthelemy commented on #249
no. I will move it to JIRA where I will be able to see it and organize it with the rest of my work. How can I close this one ? There is no close button.

[2017-12-14 08:09] Barthelemy commented on #249
https://alice.its.cern.ch/jira/browse/OCCF-46

[2017-12-14 08:12] sawenzel commented on #249
@Barthelemy: I think the issue should stay open here in parallel. Otherwise, it is hard to track progress and know when it was done ...

[2017-12-14 08:18] Barthelemy commented on #660
Michal (@biz1k) can be assigned

[2017-12-14 08:24] Barthelemy commented on #249
@sawenzel I understand your point. At the same time, I fear that it will quickly become unmanageable. I will keep it opened for now but would like to rediscuss it with you after Christmas, maybe around a coffee.

[2017-12-14 08:25] sawenzel commented on #249
Agreed.

[2017-12-14 09:27] ktf commented on #660
@biz1k I am adding you as QC Developer. Can you please accept the invitation? Thanks.

[2017-12-15 14:30] ihrivnac commented on #707
I believe that as the coding guidelines were agreed by the O2 project, they should be also followed in the code.
For 2. I indicated the code where the violations are present.
For 3. these is just a list of classes in one specific category:
Detectors/Base/include/BaseCluster.h
Detectors/Base/include/DetMatrixCache.h
Detectors/Base/include/Detector.h
Detectors/Base/include/GeometryManager.h
Detector

[2017-12-15 14:42] mkrzewic commented on #707
Hi, the fact that some guidelines are consistently not followed might mean (at least) one of 2 things:
- stubborn developers, here some rule enforcement might help.
- a rule might need revising - possibly from time to time this might be needed as we learn, as the industry evolves and as new coding concepts become available (e.g. c++17, c++20). I noticed the current guidelines, while quite well put

[2017-12-15 17:20] ihrivnac commented on #707
I use a script for detecting tabulations, which I wrote some time ago for checking Geant4 examples, as we have the same rule here. The check was then added as an svn hook which does not allow the developers to commit such code. I can pass you the script offline.

[2017-12-16 12:05] sawenzel opened #738 "Missing/wrong medium in MFT volumes leading to crash with G4"
Running `o2sim -m MFT -e TGeant4` leads to a crash due to undefined medium.

In particular, the following following volumes `MFT_C_i_j_k`, `MetalStack`, `MFTSensor` have either an incorrect medium assigned or this assignment is missing altogether.

[2017-12-16 12:08] sawenzel commented on #738
@bovulpes : I tried to debug this to see where these volumes are constructed. But this is rather involved. Could you please take a look yourself or delegate?

[2017-12-17 21:53] ktf commented on #707
I think that the only guidelines we can realistically ask developers to follow are the ones enforced by a tool before merge time, possibly with automatic correction happening. Since we do have a test for those, it's just a matter of someone deciding that having a check for a given guideline has higher priority than something else they are doing. Having an issue open saying "coding guidelines are v

[2017-12-18 10:43] ihrivnac commented on #707
I agree that the best way how to enforce following the guidelines is to have them checked automatically; from the script code it is however not clear which guidelines are checked and which are not. Is it somewhere documented which guidelines are checked?
I am not the developer of the checking tools, so I don't plan to prepare a PR for its updates, but I hoped that the developers of the tool could

[2017-12-18 12:19] Barthelemy commented on #707
@sawenzel might have something to say as he developed tools to check certain guidelines.

[2017-12-19 01:20] ktf commented on #707
The list of tests being performed is:

https://github.com/alisw/alidist/blob/master/o2checkcode.sh#L46

At the moment, apart from the standard "code moderniser" checks, the only AliceO2 specific test is the one for member variables starting with m rather than f, which I wrote a year ago or so and did all the cleanups for. There is additional tests from @sawenzel and @ZdravkoD and I think they plan

[2017-12-19 01:22] sawenzel commented on #707
I think we need to distinguish slightly between pure formatting issues such as tabs and spacings and more C++ oriented static analysis. The former is in principle handled by `clang-format` and the latter to some extend by `O2CodeChecker`.

We can easily enable clang-format to enfore/enable checks on spaces/tabs.

[2017-12-19 01:55] ktf commented on #707
Agreed. However enabling `clang-format` would need us to agree that our formatting guidelines are really whatever `clang-format` enforces and we adapt the style guide to them. This was always rejected / not carried through IIRC. @dberzano can we start the discussion again?

[2017-12-20 05:46] sawenzel commented on #738
Debugging together with @urasantonio we found the problem:

MFT uses the Alpide chip, which is instantiated using ITS materials. But these materials do not exist when we run just with MFT. So we should decouple the Alpide materials from ITS.

[2017-12-21 09:11] matthiasrichter opened #744 "Devices can't start if an option is defined in more than one processing spec"
E.g. the `o2DummyWorkflow` is not running any more because two processing specs define the same option.

[2017-12-21 10:29] matthiasrichter commented on #584
one more step in this direction: https://github.com/AliceO2Group/AliceO2/pull/745

[2017-12-22 13:46] #692 closed

[2018-01-11 14:04] bovulpes commented on #738
A known issue, indeed, I never ran it with o2sim but always together with the ITS. I will have a look on it.

[2018-01-12 15:13] sawenzel opened #757 "Problem with medium (mapping) seen in PHOS"
As point out in PR #749, there is an inconsistency with media to volume assignment.

This can be seen by running the commands
[code]
yielding the file O2geometry.root;

Analysing this geometry with the following macro  (`root CheckMaterial.C\("PHOS"\)`)

[code]

shows that the material checksum of PHOS is influenced by the presence of FRAME. This is clearly a bug.

[2018-01-12 15:14] sawenzel commented on #757
@peressounko : Thanks for spotting this. I will follow this up.

[2018-01-12 15:27] peressounko commented on #757
This us caused by use of direct call of TVirtualMC::GetMC()->Medium() in Detectors/Passive/src/FrameStructure.cxx, Detectors/Passive/src/Hall.cxx,Shil.cxx,Pipe.cxx,Dipole.cxx,Absorber.cxx,Magnet.cxx instead of Detector::Medium()

[2018-01-15 13:56] sawenzel commented on #757
@peressounko : I think the problem was rather related to the fact that the Cave volume was created in different manner than all the rest of our modules and that its media where not managed by VMC. PR #761 should solve this issue (it does on my local tests).

[2018-01-15 15:00] sawenzel opened #762 "Decay table problem with G4"
I am running into fatal core dumps when running with G4:

-------- EEEE ------- G4Exception-START -------- EEEE -------
*** G4Exception : DECAY003
      issued by : G4Decay::DoIt
Can not determine decay channel for sigma+
  mass of dynamic particle: 1.05831 (GEV)
  dacay table has 2 entries
0: BR 0.516, IsOK? 0, --> proton + pi0
1: BR 0.483, IsOK? 0, --> neutron + pi+

*** Fatal Exception *** core

[2018-01-15 15:00] sawenzel commented on #762
@ihrivnac, @preghenella , @shahor02 : Any idea?

[2018-01-15 15:09] ihrivnac commented on #762
What's your Geant4 version?

[2018-01-15 15:14] sawenzel commented on #762
It is `v10.3.3` (as specified in `defaults-o2.sh`).

[2018-01-15 15:50] ihrivnac commented on #762
It looks that the problem is in the " mass of dynamic particle: 1.05831 (GEV)" which is smaller than the PDG mass, which is for sigma+ 1.18937*GeV. Could you investigate if it's a primary or a secondary? In the first case, the problem is in the event generator, and in the second case in Geant4 physics process.

[2018-01-15 16:04] sawenzel commented on #762
Here is the track as seen in gdb:
[code]
Maybe you can spot if primary or not; Otherwise I need to debug a bit deeper.

[2018-01-15 16:14] ihrivnac commented on #762
The "fParentID = 0" means, that it is primary.

[2018-01-15 16:34] sawenzel commented on #762
This is the (unmodified) primary from the event (as stored inside stack):
[code]

[2018-01-15 16:45] ihrivnac commented on #762
This does not look to be the same primary, as this one has fPdgCode = -211, what means that it is pi-, while the particle which caused exception is sigma+.

[2018-01-15 18:53] peressounko commented on #757
Same functionality is realized in Detector::Medium() - isn't it? One only should force all systems to use this function instead of direct call VMC::->Medium().

[2018-01-16 08:31] sawenzel commented on #757
@peressounko: I expect the bug to be solved. Can you please cross-check (with the current dev branch) before closing this issue?

[2018-01-16 09:34] sawenzel commented on #762
Right, G4 seems to shift the track indices by 1 which is why I picked the wrong one. This should be the correct one:
[code]
The mass of this particle seems to be well `1.18 GeV`.

[2018-01-16 09:40] sawenzel commented on #762
I am also adding the instances of G4 dynamic particle (at the moment of crash) and the original primary:
[code]
[code]

So, could it be that the mass gets incorrectly converted during setup already?

[2018-01-16 11:03] ihrivnac commented on #762
We do not pass static mass (and other static properties)  from TParticle to G4 particle; we just get the pdg code and let G4 find G4ParticleDefinition for this PDG code. In G4, the mass defined for sigma+ (3222) is well 1.18937, so a question is where this primary gets 1058.
Could you extract the properties of the "G4code = 0xcf14110" object, which should be the G4ParticleDefinition for sigma+?
Al

[2018-01-16 11:12] sawenzel commented on #762
Here is the G4code object:
[code]
I did not find "pdgEncoding" warnings.

[2018-01-16 11:54] ihrivnac commented on #762
This looks correct.
Do you get this fatal with O2 or AliRoot?

[2018-01-16 12:34] sawenzel commented on #762
Its with O2. Do you have any hint where to set a breakpoint in order to find out if something goes wrong with the G4DynamicParticles (or similar) creation?

[2018-01-16 13:10] ihrivnac commented on #762
I am building a "reference" version (which means with alidist defaults, but Geant4 MT on), when done I will try to reproduce the problem. To investigate, where the mass gets corrupted, I suggest to add printing of the mass at stepping level when a track has pdg = 3222.  How long does the program runs to get the crash?

[2018-01-16 13:37] ihrivnac commented on #762
My installation has finished, I don't get this fatal when running with:
o2sim --modules EMCAL TPC TOF TRD --mcEngine TGeant4 --nEvents 100
How do you run your code?

[2018-01-16 13:45] sawenzel commented on #762
I will set up a reproducible run for you. I see my crash with a Hijing event which I might need to pass to you.

[2018-01-16 14:23] sawenzel commented on #762
I am seeing the error (both on linux + mac) when running
[code]
I will send you the kinematics file by email (cannot attach here unfortunately).

[2018-01-16 14:45] bovulpes commented on #738
Is duplicating the necessary materials from ITS to MFT acceptable?

[2018-01-16 14:54] sawenzel commented on #738
Probably yes but not sure whether it would be good. In the end MFT and ITS want to share the same geometrical volumes, no?

What about making materials/media ALPIDE_xxx which are created independently from ITS, MFT and attached to the ALPIDE chip?

This should now easily be possible by using the singleton class `o2::Base::MaterialManager`.

[2018-01-16 15:02] urasantonio commented on #738
I would also be in favor of defining the materials only once, attaching the prefix ALPIDE.

[2018-01-16 15:55] ihrivnac commented on #762
Thank you. I can reproduce the problem, but it's not easy to debug, as when using the standard O2 build procedure, each modification of geant4_vmc (defined as a development package), triggers re-build of FairRoot and O2 ...

[2018-01-16 16:07] sawenzel commented on #762
You can avoid rebuilding everything by checking out `geant4_vmc` as a development package and rebuild it using `make install` inside `sw/BUILD/geant4_vmc/.../`. This will just update the installed libraries.

[2018-01-16 16:24] ihrivnac commented on #762
This is what I did first, but modifications seemed not to be taken into account. I will try it out with the next iteration.

[2018-01-16 18:11] ihrivnac commented on #762
In difference from what I thought (and wrote above), the mass of the primary particle is computed from the input momentum and energy [ a square root from (E*E - p*p)],
as we use the ctor which takes all these values:
G4PrimaryParticle(const G4ParticleDefinition* Gcode,
                    G4double px,G4double py,G4double pz,G4double E);

In this wrong case, the input values (in MeV) of the primary

[2018-01-16 20:22] sawenzel commented on #762
At this level everything is in double precision. I analysed the kinematics file, and it turns out that the sigma particle is already stored like this and has the discrepancy of calculated vs tabulated mass.
The file is obtained straight from the Hijing generator and AliRoot kinematics output. Either this output process does something to the precision or we where just lucky not to see it in AliRoot

[2018-01-16 20:27] pzhristov commented on #762
I think the right solution is to fix the generator. Lets have a look why we get particles off the mass shell.

[2018-01-17 09:25] ihrivnac commented on #762
Yes, I think the best would be to understand the problem with the generator first.
If needed, we can put a temporary work-around, put a check of the mass in Geant4 VMC, print a warning here, so that such cases are still detected, and then pass only momentum to G4 primary constructor.

[2018-01-17 11:20] sawenzel commented on #762
Dear All. Thanks for your efforts and input here. I will study why we get these particles from the generator. For the moment, we don't need to do something urgently (I can simply take out the problematic particles).

Maybe we can add some special treatment in G4 VMC later.

[2018-01-17 14:56] bovulpes commented on #738
It is not straightforward, since the functions for creating a mixture, material, medium must be called from an instantiated Detector object: which one, ITS of MFT? or a new one ITSMFT ?

[2018-01-17 15:47] urasantonio commented on #738
Yes, what about defining an ALPIDE (more than ITSMFT) "Detector" class?

[2018-01-17 16:00] sawenzel commented on #738
So it is not necessary to promote ALPIDE to a detector.

[2018-01-17 16:28] iouribelikov commented on #738
@sawenzel Excellent !

[2018-01-17 16:42] bovulpes commented on #738
I have prepared an example in bovulpes/mft-alpide-mat with one material created in AlpideChip, please have a look.

[2018-01-18 09:28] bovulpes commented on #738
I have a working code in bovulpes/mft-alpide-mat for the MFT only. One needs only to call the AlpideChip::createMaterials function. Also cleaned obsolete materials from the MFT.

[2018-01-18 14:23] peressounko commented on #757
Yes, issue is solved, thanks.

[2018-01-18 14:54] #757 closed

[2018-01-19 11:55] sawenzel commented on #762
Another question: Could it be that this effect is not seen in AliRoot because there we attach external decayers?

[2018-01-19 12:10] ihrivnac commented on #762
The external decayer is applied only for particles which do not have defined a decay table in Geant4, so this exception should happen in AliRoot, too. Are there modifications in the event generator wrt AliRoot generator?

[2018-01-23 17:22] #563 closed

[2018-01-24 15:44] alibuild opened #795 "Error while checking branch dev@b384f38ffb41bf11ea16ef9786978867ae81403e:9807ad4dc5"
Error while checking build/O2/o2 for b384f38ffb41bf11ea16ef9786978867ae81403e:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/b384f38ffb41bf11ea16ef9786978867ae81403e/fullLog.txt).

[2018-01-24 20:16] alibuild commented on #795
Branch was updated. Closing issue.

[2018-01-24 20:16] alibuild opened #797 "Error while checking branch dev@335d6461335b774a88489ba23b72a59c3b897ae0:9807ad4dc5"
Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/294ef8a27b6f06833c4ee85974db8bf8ec828e4b/fullLog.txt).

[2018-01-24 20:20] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 20:42] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 20:45] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 21:18] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 21:29] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 21:55] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:02] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:17] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:20] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:31] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:42] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:46] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 22:57] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 23:04] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 23:19] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 23:30] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 23:52] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-24 23:56] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 00:07] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 00:10] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 00:14] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 00:39] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 00:54] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 01:05] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 01:38] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 02:33] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 03:03] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 03:18] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 03:26] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 03:37] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 03:41] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 04:15] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 04:33] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 04:37] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 04:48] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 05:29] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 06:09] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 06:27] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 06:46] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 06:57] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 07:00] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 07:26] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 07:37] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 07:55] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 08:29] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 08:36] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 08:43] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 09:11] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 09:41] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 09:49] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 10:38] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 10:45] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 11:07] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 11:22] alibuild commented on #797
Error for commit 335d6461335b774a88489ba23b72a59c3b897ae0Error while checking build/O2/o2 for 335d6461335b774a88489ba23b72a59c3b897ae0:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).
 has changed.

[2018-01-25 11:52] alibuild commented on #797
Branch was updated. Closing issue.

[2018-01-25 11:52] alibuild commented on #795
Branch was updated. Closing issue.

[2018-01-25 11:52] alibuild opened #802 "Error while checking branch dev@fec57fc3c02d35a854500100b433e129f21c44c1:9807ad4dc5"
Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/335d6461335b774a88489ba23b72a59c3b897ae0/fullLog.txt).

[2018-01-25 12:05] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 12:09] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 12:16] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 12:20] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 12:35] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 12:39] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 12:50] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 13:12] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 13:30] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 13:34] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 13:45] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 14:15] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 14:56] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 15:14] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 15:22] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 15:30] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 15:41] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 15:45] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 15:52] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 16:23] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 16:31] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 16:46] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 16:50] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 16:53] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 17:09] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 17:12] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 17:43] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 17:47] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 17:55] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:10] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:18] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:21] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:25] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:33] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:37] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:40] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:44] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:48] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:52] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 18:56] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:15] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:19] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:26] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:34] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:38] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:42] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:45] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 19:56] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 20:08] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 20:19] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 20:23] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 20:34] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 20:45] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 20:56] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:00] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:04] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:08] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:11] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:19] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:26] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:30] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:38] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 21:41] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 22:11] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.

[2018-01-25 22:19] alibuild commented on #802
Error for commit fec57fc3c02d35a854500100b433e129f21c44c1Error while checking build/O2/o2 for fec57fc3c02d35a854500100b433e129f21c44c1:
[code]
Full log [here](https://ali-ci.cern.ch/repo/logs/AliceO2Group/AliceO2/dev/fec57fc3c02d35a854500100b433e129f21c44c1/fullLog.txt).
 has changed.